Repository carlocorradini/reCluster: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint

fix: added missing dependency
  package-lock.json
  subgraphs/nodes/package.json
Due: prettier --write

chore: dockerized subgraph nodes
  .dockerignore
  README.md
  docker/subgraphs/Dockerfile.nodes
  scripts/database.sh
  scripts/router.sh
  scripts/subgraphs/nodes.sh
  scripts/supergraph.sh
Due: prettier --write, markdownlint

fix: dockerfile find options order
  docker/subgraphs/Dockerfile.nodes
Due: none

fix: license.json
  license.json
Due: prettier --write

feat: pagination arguments
  package-lock.json
  packages/graphql/package.json
  packages/graphql/src/args/PaginationArgs.ts
  packages/graphql/src/args/index.ts
  packages/graphql/src/index.ts
  packages/graphql/src/scalars/index.ts
  subgraphs/nodes/src/services/NodeService.ts
Due: eslint --fix, prettier --write

refactor: added todo in dockerfile
  docker/subgraphs/Dockerfile.nodes
Due: none

fix: removed graphql-scalars from subgraphs deps
  package-lock.json
  packages/graphql/package.json
  packages/helpers/src/buildFederatedSchema.ts
  subgraphs/nodes/package.json
Due: eslint --fix, prettier --write

refactor: rename pagination args default value names
  packages/graphql/src/args/PaginationArgs.ts
Due: eslint --fix

fix: moved graphql type to correct folder
  packages/graphql/src/index.ts
  subgraphs/nodes/src/graphql/index.ts
  subgraphs/nodes/src/graphql/inputs/NodeAddInput.ts
  subgraphs/nodes/src/graphql/resolvers/NodeResolver.ts
  subgraphs/nodes/src/graphql/resolvers/reference.ts
  subgraphs/nodes/src/graphql/schema.ts
  subgraphs/nodes/src/graphql/types/Node.ts
  subgraphs/nodes/src/graphql/types/index.ts
Due: eslint --fix

feat: database check and fix
  package.json
  packages/database/package.json
Due: prettier --write

feat: automatic database schema generation
  docker/subgraphs/Dockerfile.nodes
  package.json
Due: prettier --write

feat: errors and masking
  docker/subgraphs/Dockerfile.nodes
  package-lock.json
  packages/errors/package.json
  packages/errors/src/DatabaseError.ts
  packages/errors/src/index.ts
  packages/errors/tsconfig.json
  subgraphs/nodes/package.json
  subgraphs/nodes/src/main.ts
  tsconfig.json
Due: eslint --fix, prettier --write

chore(deps): fix package-lock.json
  package-lock.json
Due: prettier --write

chore(package.json): added types in package.json
  packages/configs/package.json
  packages/database/package.json
  packages/errors/package.json
  packages/graphql/package.json
  packages/helpers/package.json
Due: prettier --write

feat: added validation error
  package-lock.json
  packages/errors/package.json
  packages/errors/src/ValidationError.ts
  subgraphs/nodes/src/main.ts
Due: eslint --fix, prettier --write

chore: updated apollo rover
  docker/Dockerfile.rover
  router/supergraph.yaml
  scripts/supergraph.sh
Due: none

chore: updated apollo router
  scripts/router.sh
Due: none

fix: package-lock.json
  package-lock.json
Due: prettier --write

feat: env variables
  license.json
  package-lock.json
  packages/configs/package.json
  packages/configs/src/config.ts
  packages/configs/src/env.ts
  packages/database/.env.example
  subgraphs/nodes/.env.example
  subgraphs/nodes/package.json
  subgraphs/nodes/src/config/config.ts
  subgraphs/nodes/src/config/env.ts
  subgraphs/nodes/src/config/index.ts
  subgraphs/nodes/src/main.ts
Due: eslint --fix, prettier --write

fix: license.json for .env.example files
  license.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: any of: *.{json,md}
  markdownlint: any of: *.md
