Repository carlocorradini/reCluster: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint

refactor: moved database in root directory
  .env.example
  .gitignore
  license.json
  package-lock.json
  package.json
  packages/database/.gitignore
  packages/database/package.json
  packages/database/tsconfig.json
  schema.prisma
  subgraphs/nodes/package.json
  subgraphs/nodes/src/database/index.ts
  subgraphs/nodes/src/database/prisma.ts
  subgraphs/nodes/src/main.ts
  subgraphs/nodes/src/services/NodeService.ts
  subgraphs/nodes/tsconfig.json
  tsconfig.json
Due: eslint --fix, prettier --write

refactor: dockerfile nodes
  docker/subgraphs/Dockerfile.nodes
  scripts/subgraphs/nodes.sh
Due: none

docs: fix
  README.md
Due: prettier --write, markdownlint

fix: package.json scripts
  package.json
Due: prettier --write

fix: cspell for envalid
  cspell.json
Due: prettier --write

docs: better env
  README.md
Due: prettier --write, markdownlint

refactor: simplified format error of apollo server
  package-lock.json
  package.json
  packages/helpers/package.json
  packages/helpers/src/formatErrorApolloServer.ts
  packages/helpers/src/index.ts
  subgraphs/nodes/package.json
Due: eslint --fix, prettier --write

refactor: database url when creating prismaclient
  cspell.json
  subgraphs/nodes/src/database/prisma.ts
Due: eslint --fix, prettier --write

chore: testing custom alpine linux image
  linux/Dockerfile
  linux/mkimage.recluster.sh
Due: none

chore: trying custom alpine linux image
  linux/build.sh
  linux/iso/.gitkeep
  linux/mkimg.recluster.sh
Due: none

fix: package-lock.json
  package-lock.json
Due: prettier --write

chore: reCluster alpine is working!
  linux/.gitignore
  linux/Dockerfile
  linux/build.sh
  linux/mkimg.recluster.sh
Due: none

fix: build.sh
  license.json
  linux/.gitignore
  linux/build.sh
  linux/iso/.gitkeep
Due: prettier --write

fix: removed some useless parts
  .gitignore
  linux/Dockerfile
  linux/build.sh
  linux/mkimg.recluster.sh
Due: none

fix: dirname absolute path
  scripts/__commons.sh
  scripts/database.sh
  scripts/router.sh
  scripts/subgraphs/nodes.sh
  scripts/supergraph.sh
Due: none

chore(todo): currently does not work
  linux/build.sh
  linux/genapkovl-recluster.sh
  linux/mkimg.recluster.sh
Due: none

chore(router): updated to latest release
  scripts/router.sh
Due: none

feat: initial work on automatic recluster installation script
  linux/recluster.sh
Due: none

fix: removed local
  linux/genapkovl-recluster.sh
Due: none

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: any of: *.{json,md}
  markdownlint: any of: *.md
