Repository carlocorradini/reCluster: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint, cd server && eslint --fix

.lintstagedrc:

{
  "*.{json,md}": "prettier --write",
  "*.md": "markdownlint",
  "*.ts": [
    "cd server && eslint --fix",
    "prettier --write"
  ]
}

fix: server url path
  linux/install.sh
Due: none

feat: status updater and better scripts
  linux/install.sh
Due: none

refactor: vagrant configuration and micro fix in install script
  README.md
  Vagrantfile
  linux/config.master.yml
  linux/config.worker.yml
  linux/install.sh
Due: prettier --write, markdownlint

feat: k8s worker when node taint is false
  linux/config.master.yml
  linux/install.sh
Due: none

chore(deps-dev): update dev dependencies
  server/package-lock.json
  server/package.json
Due: prettier --write

feat: init cluster k3s options
  linux/config.worker.yml
  linux/install.sh
Due: none

feat: k3s server and token configuration check if server and cluster not initialized
  linux/install.sh
Due: none

fix: use config node env
  server/src/logger/logger.ts
Due: prettier --write, cd server && eslint --fix

fix: typescript transform paths bug
  server/package-lock.json
  server/package.json
Due: prettier --write

fix: better script for dev server
  server/package.json
Due: prettier --write

docs: better readme and vagrant name
  README.md
  Vagrantfile
Due: prettier --write, markdownlint

feat: assert url reachability better params and timeout
  linux/install.sh
Due: none

fix: docs and check in script
  README.md
  linux/install.sh
Due: prettier --write, markdownlint

fix: ip not dns
  linux/config.worker.yml
Due: none

chore(deps): update dependencies
  server/package-lock.json
  server/package.json
Due: prettier --write

feat: latest version for k3s and node exporter
  linux/install.sh
Due: none

refactor: all scripts are now posix compliant, no more bashism
  Vagrantfile
  linux/configs/.gitignore
  linux/configs/README.md
  linux/configs/config.common.yml
  linux/configs/config.master.yml
  linux/configs/config.worker.yml
  linux/configs/configs.sh
  linux/dependencies/README.md
  linux/dependencies/dependencies.sh
  linux/dependencies/dependencies.yml
  linux/distributions/alpine/build.sh
  linux/install.sh
  scripts/__commons.sh
  server/scripts/database.sh
  server/scripts/dockerize.sh
  server/src/graphql/args/find/many/PaginationArgs.ts
Due: prettier --write, markdownlint, cd server && eslint --fix

fix: cspell spelling
  cspell.json
  linux/install.sh
  server/Dockerfile
  server/prisma/data/cpus.ts
Due: prettier --write, cd server && eslint --fix

fix: minor fixes in scripts
  linux/configs/config.master.yml
  linux/install.sh
  server/scripts/database.sh
Due: none

refactor: changed docker to dockerize in npm scripts
  server/README.md
  server/config.k3d.yml
  server/package.json
Due: prettier --write, markdownlint

feat: default status when updating
  linux/install.sh
Due: none

feat: node status
  cspell.json
  server/prisma/migrations/20221024154340_recluster/migration.sql
  server/prisma/schema.prisma
  server/src/graphql/enums/NodeStatuses.ts
  server/src/graphql/inputs/create/CreateStatusInput.ts
  server/src/services/CpuService.ts
  server/src/services/NodeService.ts
Due: prettier --write, cd server && eslint --fix

feat: better development experience and more docs
  .markdownlint.json
  .prettierignore
  README.md
  linux/README.md
  linux/distributions/alpine/build.sh
  linux/install.sh
  scripts/__commons.sh
  server/README.md
  server/package.json
  server/scripts/database.sh
  server/scripts/dev.sh
  server/scripts/dockerize.sh
  server/src/config/config.ts
  server/src/graphql/inputs/orderby/OrderByStatusInput.ts
  server/src/k8s/index.ts
  server/src/k8s/kubeconfig.ts
  server/src/main.ts
  server/src/types/Config.ts
Due: prettier --write, markdownlint, cd server && eslint --fix

fix: minifix
  server/scripts/dev.sh
Due: none

docs: better docs
  README.md
  linux/README.md
Due: prettier --write, markdownlint

refactor: use prisma and not this
  server/src/services/StatusService.ts
Due: prettier --write, cd server && eslint --fix

fix: added tzdata to apk world
  linux/distributions/alpine/genapkovl-recluster.sh
Due: none

fix: use install as workaround for ci
  .github/workflows/ci.yml
Due: none

chore(deps): updated dev and prod dependencies
  server/package-lock.json
  server/package.json
Due: prettier --write

refactor: changed yaml config files name
  linux/configs/.gitignore
  linux/configs/README.md
  linux/configs/common.config.yml
  linux/configs/configs.sh
  linux/configs/master.config.yml
  linux/configs/worker.config.yml
  linux/dependencies/dependencies.sh
  linux/install.sh
  server/k3d.config.yml
  server/scripts/dev.sh
Due: prettier --write, markdownlint

feat: save graphql schema to file script
  .gitignore
  server/.eslintrc
  server/README.md
  server/package-lock.json
  server/package.json
  server/scripts/.eslintrc
  server/scripts/schema.ts
  server/scripts/tsconfig.json
Due: prettier --write, markdownlint, cd server && eslint --fix

fix: return class
  server/src/graphql/resolvers/cpu/CpuNodeResolver.ts
  server/src/graphql/resolvers/disk/DiskNodeResolver.ts
  server/src/graphql/resolvers/interface/InterfaceNodeResolver.ts
  server/src/graphql/resolvers/node/NodeCpuResolver.ts
  server/src/graphql/resolvers/node/NodeDiskResolver.ts
  server/src/graphql/resolvers/node/NodeInterfaceResolver.ts
  server/src/graphql/resolvers/node/NodeStatusResolver.ts
  server/src/graphql/resolvers/status/StatusNodeResolver.ts
Due: prettier --write, cd server && eslint --fix

fix: script minifix
  linux/distributions/alpine/.gitignore
  linux/distributions/alpine/build.sh
  linux/distributions/alpine/genapkovl-recluster.sh
  linux/install.sh
  server/prisma/schema.prisma
  server/scripts/dev.sh
  server/src/services/StatusService.ts
Due: prettier --write, cd server && eslint --fix

feat: ssh authorized keys
  linux/configs/common.config.yml
  linux/install.sh
  scripts/__commons.sh
Due: none

fix: added todo info in configs
  linux/configs/common.config.yml
  linux/configs/controller.config.yml
Due: none

chore(deps): updated depedencies
  package-lock.json
  package.json
  server/package-lock.json
  server/package.json
Due: prettier --write

feat: ssh and private and public keys
  README.md
  cspell.json
  linux/install.sh
  server/.env.example
  server/README.md
  server/package-lock.json
  server/package.json
  server/prisma/schema.prisma
  server/src/config/config.ts
  server/src/config/env.ts
  server/src/graphql/args/UnassignNodeArgs.ts
  server/src/graphql/args/index.ts
  server/src/graphql/enums/index.ts
  server/src/graphql/resolvers/node/NodeResolver.ts
  server/src/graphql/resolvers/node_pool/NodePoolResolver.ts
  server/src/graphql/resolvers/status/StatusResolver.ts
  server/src/k8s/NodeInformer.ts
  server/src/k8s/index.ts
  server/src/services/K8sService.ts
  server/src/services/NodePoolService.ts
  server/src/services/NodeService.ts
  server/src/services/StatusService.ts
  server/src/services/TokenService.ts
  server/src/ssh/SSH.ts
  server/src/ssh/index.ts
  server/src/types/Config.ts
Due: prettier --write, markdownlint, cd server && eslint --fix
