Repository carlocorradini/reCluster: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint

fix: git dir for script
  scripts/update_dependencies.sh
Due: none

fix: git dir
  scripts/update_dependencies.sh
Due: none

fix: shellcheck warning
  scripts/update_dependencies.sh
Due: none

fix: shellcheck warnings
  scripts/update_dependencies.sh
Due: none

feat: added symlinks to dependencies
  linux/k3s.install.sh
  linux/node_exporter.install.sh
Due: none

chore: update link name and added shellcheck fixes
  dependencies/k3s/install.sh
  linux/install.k3s.sh
  linux/install.node_exporter.sh
  scripts/update_dependencies.sh
Due: none

fix: install script renaming
  linux/install.sh
Due: none

Squashed 'dependencies/node_exporter_installer/source/' content from commit 6a2c48603
  .commitlintrc
  .editorconfig
  .gitattributes
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/stale.yml
  .github/workflows/ci.yml
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
  .markdownlint.json
  .markdownlintignore
  .npmrc
  .nvmrc
  .vscode/extensions.json
  .vscode/settings.json
  LICENSE
  README.md
  install.sh
  package-lock.json
  package.json
Due: prettier --write, markdownlint

fix: source as dir in dependencies
  dependencies/node_exporter_installer/source/install.sh
  linux/install.k3s.sh
  linux/install.node_exporter.sh
  scripts/dependencies.sh
Due: none

fix: k3s install script
  dependencies/k3s/source/install.sh
Due: none

feat: depedencies management script
  dependencies/node_exporter_installer/source/.commitlintrc
  dependencies/node_exporter_installer/source/.editorconfig
  dependencies/node_exporter_installer/source/.gitattributes
  dependencies/node_exporter_installer/source/.github/CODEOWNERS
  dependencies/node_exporter_installer/source/.github/ISSUE_TEMPLATE.md
  dependencies/node_exporter_installer/source/.github/PULL_REQUEST_TEMPLATE.md
  dependencies/node_exporter_installer/source/.github/dependabot.yml
  dependencies/node_exporter_installer/source/.github/stale.yml
  dependencies/node_exporter_installer/source/.github/workflows/ci.yml
  dependencies/node_exporter_installer/source/.gitignore
  dependencies/node_exporter_installer/source/.husky/commit-msg
  dependencies/node_exporter_installer/source/.husky/pre-commit
  dependencies/node_exporter_installer/source/.lintstagedrc
  dependencies/node_exporter_installer/source/.markdownlint.json
  dependencies/node_exporter_installer/source/.markdownlintignore
  dependencies/node_exporter_installer/source/.npmrc
  dependencies/node_exporter_installer/source/.nvmrc
  dependencies/node_exporter_installer/source/.vscode/extensions.json
  dependencies/node_exporter_installer/source/.vscode/settings.json
  dependencies/node_exporter_installer/source/LICENSE
  dependencies/node_exporter_installer/source/README.md
  dependencies/node_exporter_installer/source/install.sh
  dependencies/node_exporter_installer/source/package-lock.json
  dependencies/node_exporter_installer/source/package.json
  linux/install.node_exporter.sh
  linux/install.sh
  scripts/__commons.sh
  scripts/dependencies.sh
Due: prettier --write, markdownlint

feat: readme in dependencies and node exporter install script link
  dependencies/README.md
  linux/install.node_exporter.sh
Due: prettier --write, markdownlint

fix: ignored dependencies
  .dockerignore
  .markdownlintignore
  .prettierignore
  cspell.json
  license.json
Due: prettier --write

fix: remove install
  linux/install.k3s.sh
  linux/install.node_exporter.sh
Due: none

fix: from symlink to file
  linux/install.k3s.sh
  linux/install.node_exporter.sh
Due: none

fix: deps
  .markdownlintignore
  .prettierignore
  cspell.json
  dependencies/dependencies.sh
  license.json
  linux/install.k3s.sh
  linux/install.node_exporter.sh
Due: prettier --write

feat: better dependencies management via automated script
  README.md
  backend/README.md
  cspell.json
  dependencies/README.md
  dependencies/dependencies.json
  dependencies/dependencies.sh
  scripts/__commons.sh
Due: prettier --write, markdownlint

chore(deps): updated dependencies
  package-lock.json
  package.json
Due: prettier --write

fix: initial airgap setup
  linux/install.sh
Due: none

fix: dependencies asset ignore now support regex
  dependencies/dependencies.json
  dependencies/dependencies.sh
Due: prettier --write

fix: some small issues
  dependencies/.gitignore
  dependencies/dependencies.sh
Due: none

feat: airgap support
  linux/install.sh
Due: none

fix: ci errors
  cspell.json
  license.json
Due: prettier --write

fix: docker posrt
  backend/scripts/router.sh
  scripts/build.sh
Due: none

refactor: renamed subgraphs/cpu to subgraphs/nodes-res
  .husky/commit-msg
  .husky/pre-commit
  backend/.env.example
  backend/README.md
  backend/package-lock.json
  backend/subgraphs/nodes-res/.env.example
  backend/subgraphs/nodes-res/package.json
  backend/subgraphs/nodes-res/src/config/config.ts
  backend/subgraphs/nodes-res/src/config/env.ts
  backend/subgraphs/nodes-res/src/config/index.ts
  backend/subgraphs/nodes-res/src/database/index.ts
  backend/subgraphs/nodes-res/src/database/prisma.ts
  backend/subgraphs/nodes-res/src/graphql/args/CpuArgs.ts
  backend/subgraphs/nodes-res/src/graphql/args/CpusArgs.ts
  backend/subgraphs/nodes-res/src/graphql/args/index.ts
  backend/subgraphs/nodes-res/src/graphql/context.ts
  backend/subgraphs/nodes-res/src/graphql/entities/Cpu.ts
  backend/subgraphs/nodes-res/src/graphql/entities/Node.ts
  backend/subgraphs/nodes-res/src/graphql/entities/index.ts
  backend/subgraphs/nodes-res/src/graphql/filters/EnumCpuArchitectureFilter.ts
  backend/subgraphs/nodes-res/src/graphql/filters/EnumCpuVendorFilter.ts
  backend/subgraphs/nodes-res/src/graphql/filters/index.ts
  backend/subgraphs/nodes-res/src/graphql/index.ts
  backend/subgraphs/nodes-res/src/graphql/inputs/OrderByCpuInput.ts
  backend/subgraphs/nodes-res/src/graphql/inputs/WhereCpuInput.ts
  backend/subgraphs/nodes-res/src/graphql/inputs/index.ts
  backend/subgraphs/nodes-res/src/graphql/resolvers/CpuCacheResolver.ts
  backend/subgraphs/nodes-res/src/graphql/resolvers/CpuResolver.ts
  backend/subgraphs/nodes-res/src/graphql/resolvers/NodeCpuResolver.ts
  backend/subgraphs/nodes-res/src/graphql/resolvers/index.ts
  backend/subgraphs/nodes-res/src/graphql/resolvers/resolveCpuReference.ts
  backend/subgraphs/nodes-res/src/graphql/schema.ts
  backend/subgraphs/nodes-res/src/logger/index.ts
  backend/subgraphs/nodes-res/src/logger/logger.ts
  backend/subgraphs/nodes-res/src/main.ts
  backend/subgraphs/nodes-res/tsconfig.json
  backend/tsconfig.json
Due: eslint --fix, prettier --write, markdownlint

feat: node ram
  backend/package-lock.json
  backend/packages/graphql/src/filters/BigIntFilter.ts
  backend/packages/graphql/src/filters/index.ts
  backend/subgraphs/nodes-res/package.json
  backend/subgraphs/nodes/package.json
  backend/subgraphs/nodes/src/graphql/entities/Node.ts
  backend/subgraphs/nodes/src/graphql/inputs/CreateNodeInput.ts
  backend/subgraphs/nodes/src/graphql/inputs/WhereNodeInput.ts
  backend/subgraphs/nodes/src/graphql/resolvers/NodeResolver.ts
Due: eslint --fix, prettier --write

feat: disks and interfaces
  backend/packages/graphql/src/enums/InterfaceWol.ts
  backend/packages/graphql/src/enums/index.ts
  backend/schema.prisma
  backend/subgraphs/nodes/src/graphql/entities/Disk.ts
  backend/subgraphs/nodes/src/graphql/entities/Interface.ts
  backend/subgraphs/nodes/src/graphql/entities/index.ts
  backend/subgraphs/nodes/src/graphql/inputs/CreateDiskInput.ts
  backend/subgraphs/nodes/src/graphql/inputs/CreateInterfaceInput.ts
  backend/subgraphs/nodes/src/graphql/inputs/CreateNodeInput.ts
  backend/subgraphs/nodes/src/graphql/inputs/OrderByNodeInput.ts
  backend/subgraphs/nodes/src/graphql/inputs/index.ts
  backend/subgraphs/nodes/src/graphql/resolvers/DiskNodeResolver.ts
  backend/subgraphs/nodes/src/graphql/resolvers/InterfaceNodeResolver.ts
  backend/subgraphs/nodes/src/graphql/resolvers/NodeResolver.ts
  backend/subgraphs/nodes/src/graphql/resolvers/index.ts
  backend/subgraphs/nodes/src/graphql/schema.ts
Due: eslint --fix

fix: readme
  backend/README.md
Due: prettier --write, markdownlint

fix: correctness
  .github/dependabot.yml
  backend/.eslintrc
  backend/tsconfig.json
  cspell.json
Due: prettier --write

feat: dockerfile for backend
  backend/Dockerfile
  license.json
Due: prettier --write

fix: github server
  .github/dependabot.yml
  .github/workflows/ci.yml
Due: none

fix: format
  .github/workflows/ci.yml
Due: none

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: any of: *.{json,md}
  markdownlint: any of: *.md
