Repository carlocorradini/reCluster: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint, cd server && eslint --fix

.lintstagedrc:

{
  "*.{json,md}": "prettier --write",
  "*.md": "markdownlint",
  "*.ts": [
    "cd server && eslint --fix",
    "prettier --write"
  ]
}

feat: certificates script
  linux/install.sh
  scripts/README.md
  scripts/certificates.sh
  server/README.md
  server/scripts/dev.sh
Due: prettier --write, markdownlint

docs: better scripts readme
  scripts/README.md
Due: prettier --write, markdownlint

fix: server dockerfile
  server/Dockerfile
Due: none

docs: better config script
  .gitignore
  linux/configs/.gitignore
  linux/configs/README.md
  linux/configs/config.sh
Due: prettier --write, markdownlint

fix: removed useless assert
  server/scripts/dev.sh
Due: none

fix: general
  linux/distributions/alpine/mkimg.recluster.sh
  server/prisma/migrations/20221112170944_recluster/migration.sql
  server/prisma/migrations/migration_lock.toml
Due: none

fix: use poweroff instead of shutdown
  cspell.json
  server/src/services/NodeService.ts
Due: prettier --write, cd server && eslint --fix

docs: better docs
  README.md
  linux/README.md
  linux/configs/README.md
  linux/configs/config.sh
  linux/dependencies/README.md
  linux/dependencies/dependencies.sh
  linux/install.sh
  scripts/README.md
Due: prettier --write, markdownlint

chore(scripts): removed scripts spaghetti code
  linux/configs/.gitignore
  linux/configs/configs.sh
  linux/dependencies/dependencies.sh
  linux/distributions/alpine/build.sh
  linux/distributions/arch/build.sh
  linux/install.sh
  scripts/__commons.sh
  scripts/certificates.sh
  server/scripts/dev.sh
  server/scripts/dockerize.sh
Due: none

chore(lintstaged): prettier write script file
  .lintstagedrc
Due: none

chore(cspell): added passphrase
  cspell.json
Due: prettier --write

docs: added diff
  linux/distributions/alpine/README.md
Due: prettier --write, markdownlint

feat: certificates key bits
  scripts/README.md
  scripts/certificates.sh
Due: prettier --write, markdownlint

chore(scripts): better management
  linux/install.sh
  scripts/__commons.sh
Due: none

feat: does not accept wol flag d
  server/src/graphql/inputs/create/CreateInterfaceInput.ts
Due: prettier --write, cd server && eslint --fix

fix: wol service
  server/src/services/NodeService.ts
  server/src/services/WoLService.ts
Due: prettier --write, cd server && eslint --fix

fix: wol address
  server/src/services/NodeService.ts
  server/src/services/WoLService.ts
Due: prettier --write, cd server && eslint --fix

fix: main order
  linux/configs/configs.sh
Due: none

feat: check wol during installation
  README.md
  linux/README.md
  linux/distributions/alpine/README.md
  linux/install.sh
Due: prettier --write, markdownlint

chore(cspell): fix spelling
  cspell.json
  linux/README.md
  scripts/README.md
  scripts/certificates.sh
Due: prettier --write, markdownlint

docs: fix typo
  README.md
Due: prettier --write, markdownlint

docs: fix directory path
  README.md
Due: prettier --write, markdownlint

docs: wol in italic
  linux/README.md
Due: prettier --write, markdownlint

feat: increase or decrease by power consumtpion and performance
  server/src/services/NodePoolService.ts
  server/src/services/NodeService.ts
Due: prettier --write, cd server && eslint --fix

refactor: ssh authorized key is root
  linux/install.sh
Due: none

fix: prepare without dev
  server/package.json
Due: prettier --write

refactor: better dependencies configuration
  linux/dependencies/.gitignore
  linux/dependencies/dependencies.config.yml
  linux/dependencies/dependencies.sh
Due: none

feat: bundle script
  .gitignore
  scripts/__commons.sh
  scripts/bundle.config.yml
  scripts/bundle.sh
Due: none

feat: better commons and less spaghetti code
  README.md
  linux/README.md
  linux/configs/configs.sh
  linux/dependencies/dependencies.sh
  linux/distributions/alpine/build.sh
  linux/distributions/arch/build.sh
  linux/install.sh
  scripts/__commons.sh
  scripts/bundle.sh
  scripts/certificates.sh
  server/scripts/dev.sh
  server/scripts/dockerize.sh
Due: prettier --write, markdownlint

fix: cspell
  cspell.json
Due: prettier --write

feat: bundle execution run
  linux/dependencies/dependencies.sh
  scripts/__commons.sh
  scripts/bundle.config.yml
  scripts/bundle.sh
Due: none

docs: script permission
  README.md
Due: prettier --write, markdownlint

fix: permissions
  linux/configs/configs.sh
  linux/dependencies/dependencies.sh
  linux/distributions/alpine/build.sh
  linux/distributions/alpine/genapkovl-recluster.sh
  linux/distributions/alpine/mkimg.recluster.sh
  linux/distributions/arch/build.sh
  linux/distributions/arch/profiledef.sh
  linux/install.sh
  scripts/__commons.sh
  scripts/bundle.sh
  scripts/certificates.sh
  server/package-lock.json
  server/scripts/dev.sh
  server/scripts/dockerize.sh
Due: prettier --write

chore(config): extension
  .vscode/extensions.json
Due: prettier --write

chore(docs): better documentation
  .husky/commit-msg.sh
  .husky/pre-commit.sh
  .vscode/extensions.json
  linux/README.md
  linux/configs/README.md
  linux/configs/configs.sh
  linux/dependencies/README.md
  linux/dependencies/dependencies.sh
  linux/distributions/alpine/README.md
  linux/distributions/arch/README.md
  linux/install.sh
  scripts/README.md
  scripts/__commons.sh
  scripts/bundle.config.yml
  scripts/bundle.sh
  server/README.md
  server/package.json
  server/scripts/README.md
  server/scripts/dev.sh
Due: prettier --write, markdownlint

docs: better values
  server/README.md
Due: prettier --write, markdownlint

Add license scan report and status
  README.md
Due: prettier --write, markdownlint

chore(ci): fix yaml and md files
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
  .github/ISSUE_TEMPLATE/FEATURE-REQUEST.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/configs/changelog.json
  .github/configs/codeql.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  README.md
  cspell.json
  package-lock.json
  package.json
  server/package-lock.json
  server/package.json
Due: prettier --write, markdownlint

chore(internal): remove dot
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
  .github/ISSUE_TEMPLATE/FEATURE-REQUEST.yml
Due: none

fix: scripts for git hooks
  .husky/commit-msg
  .husky/pre-commit
Due: none
