Repository carlocorradini/reCluster: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint

refactor: kill sends kill instead of hup
  install.sh
Due: prettier --write

refactor: minor fixes
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
Due: none

chore(internal): update editorconfig
  .editorconfig
Due: none

feat: prisma v.4.8
  distributions/alpine/genapkovl-recluster.sh
  distributions/alpine/mkimg.recluster.sh
Due: prettier --write

refactor: boot without address
  server/src/services/NodeService.ts
  server/src/services/WoLService.ts
Due: none

feat: node service boot is windows compatible
  server/src/services/NodeService.ts
Due: none

fix: server/package.json & server/package-lock.json to reduce vulnerabilities
  server/package-lock.json
  server/package.json
Due: prettier --write

chore(deps): update dependencies
  package-lock.json
  package.json
  server/package-lock.json
  server/package.json
Due: prettier --write

chore(license): ignore inline.sh
  license.json
Due: prettier --write

fix: removed docker from dependencies
  distributions/alpine/mkimg.recluster.sh
  distributions/arch/packages.x86_64
Due: prettier --write

fix: typo
  dependencies/dependencies.sh
Due: prettier --write

Update packages.x86_64
  distributions/arch/packages.x86_64
Due: none

fix: docker
  distributions/alpine/mkimg.recluster.sh
Due: prettier --write

fix: typo
  install.sh
Due: prettier --write

fix: metallb configuration
  configs/k8s/loadbalancer/config.yaml
Due: none

fix: typo
  configs/k8s/loadbalancer/config.yaml
Due: none

fix: upgrade @graphql-tools/schema from 9.0.15 to 9.0.16
  server/package-lock.json
  server/package.json
Due: prettier --write

fix: upgrade @graphql-tools/utils from 9.2.0 to 9.2.1
  server/package-lock.json
  server/package.json
Due: prettier --write

fix: minifix
  server/prisma/migrations/20221215224402_recluster/migration.sql
  server/prisma/migrations/migration_lock.toml
  server/src/services/NodePoolService.ts
Due: none

fix: upgrade @prisma/client from 4.10.0 to 4.10.1
  server/package-lock.json
  server/package.json
Due: prettier --write

fix: upgrade @as-integrations/fastify from 1.3.0 to 1.3.2
  server/package-lock.json
  server/package.json
Due: prettier --write

fix: upgrade @apollo/server from 4.4.0 to 4.4.1
  server/package-lock.json
  server/package.json
Due: prettier --write

docs: thesis
  README.md
Due: prettier --write, markdownlint

fix: upgrade @graphql-tools/schema from 9.0.15 to 9.0.18
  server/package-lock.json
  server/package.json
Due: prettier --write

fix: upgrade graphql-scalars from 1.20.1 to 1.21.3
  server/package-lock.json
  server/package.json
Due: prettier --write

fix: upgrade @prisma/client from 4.10.0 to 4.13.0
  server/package-lock.json
  server/package.json
Due: prettier --write

fix: upgrade fastify from 4.13.0 to 4.17.0
  server/package-lock.json
  server/package.json
Due: prettier --write

fix: upgrade @prisma/client from 4.10.0 to 4.16.2
  server/package-lock.json
  server/package.json
Due: prettier --write

fix: upgrade @graphql-tools/schema from 9.0.15 to 9.0.19
  server/package-lock.json
  server/package.json
Due: prettier --write

fix: upgrade fastify from 4.13.0 to 4.20.0
  server/package-lock.json
  server/package.json
Due: prettier --write

fix: upgrade dotenv from 16.0.3 to 16.3.1
  server/package-lock.json
  server/package.json
Due: prettier --write

fix: upgrade graphql-scalars from 1.20.1 to 1.22.2
  server/package-lock.json
  server/package.json
Due: prettier --write

fix: enable support for wireless interface
  install.sh
Due: prettier --write

chore: fix iwd
  cspell.json
  distributions/alpine/mkimg.recluster.sh
  distributions/arch/packages.x86_64
Due: prettier --write

fix: upgrade @apollo/server from 4.4.0 to 4.8.1
  server/package-lock.json
  server/package.json
Due: prettier --write

fix: upgrade pino from 8.11.0 to 8.14.1
  server/package-lock.json
  server/package.json
Due: prettier --write

fix: upgrade @fastify/compress from 6.2.0 to 6.4.0
  server/package-lock.json
  server/package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{json,md,sh}
  markdownlint: any of: *.md
