Repository carlocorradini/reCluster: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint

.lintstagedrc:

{
    "*.ts": "eslint --fix",
    "*.{json,md}": "prettier --write",
    "*.md": "markdownlint"
}

fix: added logger name
  backend/subgraphs/nodes/src/logger/logger.ts
Due: eslint --fix

fix: removed (..) from postinstall
  package.json
Due: prettier --write

refactor: renamed graphql types to entities
  backend/subgraphs/nodes/src/graphql/entities/Cpu.ts
  backend/subgraphs/nodes/src/graphql/entities/Node.ts
  backend/subgraphs/nodes/src/graphql/entities/index.ts
  backend/subgraphs/nodes/src/graphql/index.ts
  backend/subgraphs/nodes/src/graphql/resolvers/CpuReference.ts
  backend/subgraphs/nodes/src/graphql/resolvers/CpuResolver.ts
  backend/subgraphs/nodes/src/graphql/resolvers/NodeReference.ts
  backend/subgraphs/nodes/src/graphql/resolvers/NodeResolver.ts
  backend/subgraphs/nodes/src/graphql/schema.ts
Due: eslint --fix

feat: better overall experience
  backend/.eslintrc
  backend/package-lock.json
  backend/package.json
  backend/packages/configs/package.json
  backend/packages/configs/src/context.ts
  backend/packages/configs/src/index.ts
  backend/packages/graphql/package.json
  backend/packages/graphql/src/args/PaginationArgs.ts
  backend/packages/graphql/src/decorators/Fields.ts
  backend/packages/graphql/src/decorators/Prisma.ts
  backend/packages/graphql/src/decorators/index.ts
  backend/packages/graphql/src/index.ts
  backend/packages/graphql/tsconfig.json
  backend/schema.prisma
  backend/subgraphs/nodes/Dockerfile
  backend/subgraphs/nodes/package.json
  backend/subgraphs/nodes/src/graphql/args/AddNodeArgs.ts
  backend/subgraphs/nodes/src/graphql/args/CpuArgs.ts
  backend/subgraphs/nodes/src/graphql/args/CpusArgs.ts
  backend/subgraphs/nodes/src/graphql/args/NodeArgs.ts
  backend/subgraphs/nodes/src/graphql/args/NodesArgs.ts
  backend/subgraphs/nodes/src/graphql/args/index.ts
  backend/subgraphs/nodes/src/graphql/context.ts
  backend/subgraphs/nodes/src/graphql/entities/Cpu.ts
  backend/subgraphs/nodes/src/graphql/entities/Node.ts
  backend/subgraphs/nodes/src/graphql/index.ts
  backend/subgraphs/nodes/src/graphql/inputs/AddCpuInput.ts
  backend/subgraphs/nodes/src/graphql/resolvers/CpuReference.ts
  backend/subgraphs/nodes/src/graphql/resolvers/CpuResolver.ts
  backend/subgraphs/nodes/src/graphql/resolvers/NodeReference.ts
  backend/subgraphs/nodes/src/graphql/resolvers/NodeResolver.ts
  backend/subgraphs/nodes/src/graphql/schema.ts
  backend/subgraphs/nodes/src/main.ts
  cspell.json
Due: eslint --fix, prettier --write

fix: better field
  backend/package-lock.json
  backend/packages/graphql/src/decorators/Fields.ts
Due: eslint --fix, prettier --write

feat: where and sortby
  backend/package-lock.json
  backend/package.json
  backend/packages/graphql/package.json
  backend/packages/graphql/src/filters/IntFilter.ts
  backend/packages/graphql/src/filters/StringFilter.ts
  backend/packages/graphql/src/filters/StringListFilter.ts
  backend/packages/graphql/src/filters/TimestampFilter.ts
  backend/packages/graphql/src/filters/index.ts
  backend/packages/graphql/src/index.ts
  backend/packages/graphql/src/sortings/SortOrder.ts
  backend/packages/graphql/src/sortings/index.ts
  backend/schema.prisma
  backend/subgraphs/nodes/package.json
  backend/subgraphs/nodes/src/graphql/args/CpusArgs.ts
  backend/subgraphs/nodes/src/graphql/args/NodesArgs.ts
  backend/subgraphs/nodes/src/graphql/entities/Cpu.ts
  backend/subgraphs/nodes/src/graphql/entities/Node.ts
  backend/subgraphs/nodes/src/graphql/filters/EnumCpuArchitectureFilter.ts
  backend/subgraphs/nodes/src/graphql/filters/EnumCpuVendorFilter.ts
  backend/subgraphs/nodes/src/graphql/filters/index.ts
  backend/subgraphs/nodes/src/graphql/index.ts
  backend/subgraphs/nodes/src/graphql/inputs/AddCpuInput.ts
  backend/subgraphs/nodes/src/graphql/inputs/index.ts
  backend/subgraphs/nodes/src/graphql/inputs/orderby/CpuOrderByInput.ts
  backend/subgraphs/nodes/src/graphql/inputs/orderby/NodeOrderByInput.ts
  backend/subgraphs/nodes/src/graphql/inputs/orderby/index.ts
  backend/subgraphs/nodes/src/graphql/inputs/where/CpuWhereInput.ts
  backend/subgraphs/nodes/src/graphql/inputs/where/NodeWhereInput.ts
  backend/subgraphs/nodes/src/graphql/inputs/where/index.ts
  backend/subgraphs/nodes/src/graphql/resolvers/CpuResolver.ts
  backend/subgraphs/nodes/src/graphql/resolvers/NodeResolver.ts
  cspell.json
Due: eslint --fix, prettier --write

chore(dependabot): added all sub package.json
  .github/dependabot.yml
  .github/workflows/ci.yml
Due: none

refactor: add input renamed to create
  backend/subgraphs/nodes/src/graphql/args/AddNodeArgs.ts
  backend/subgraphs/nodes/src/graphql/inputs/create/CreateCpuInput.ts
  backend/subgraphs/nodes/src/graphql/inputs/create/CreateNodeInput.ts
  backend/subgraphs/nodes/src/graphql/inputs/create/index.ts
Due: eslint --fix

fix: name and dependabot
  .github/dependabot.yml
  backend/package-lock.json
  backend/packages/utils/package.json
  backend/packages/utils/src/index.ts
  backend/packages/utils/src/types.ts
  backend/packages/utils/tsconfig.json
  backend/subgraphs/nodes/package.json
  backend/subgraphs/nodes/src/graphql/args/CpusArgs.ts
  backend/subgraphs/nodes/tsconfig.json
  backend/tsconfig.json
Due: eslint --fix, prettier --write

feat: added error on missing requirements and cleanup on args
  backend/package-lock.json
  backend/packages/errors/src/RequiredFieldError.ts
  backend/packages/errors/src/ValidationError.ts
  backend/packages/errors/src/index.ts
  backend/packages/graphql/package.json
  backend/packages/graphql/src/decorators/method/RemoveNullArgs.ts
  backend/packages/graphql/src/decorators/method/index.ts
  backend/packages/graphql/src/decorators/param/Fields.ts
  backend/packages/graphql/src/decorators/param/Prisma.ts
  backend/packages/graphql/src/decorators/param/index.ts
  backend/packages/graphql/tsconfig.json
  backend/packages/utils/src/types.ts
  backend/subgraphs/nodes/package.json
  backend/subgraphs/nodes/src/graphql/resolvers/CpuResolver.ts
  backend/subgraphs/nodes/src/graphql/resolvers/NodeResolver.ts
Due: eslint --fix, prettier --write

refactor: renamed add to create
  backend/subgraphs/nodes/src/graphql/args/CreateNodeArgs.ts
  backend/subgraphs/nodes/src/graphql/args/index.ts
  backend/subgraphs/nodes/src/graphql/resolvers/NodeResolver.ts
Due: eslint --fix

fix: readme
  backend/README.md
Due: prettier --write, markdownlint

fix: format
  .github/dependabot.yml
  .github/workflows/ci.yml
  backend/.eslintrc
  backend/router/supergraph.graphql
Due: none

refactor: renamed resolve reference ts file correctly
  backend/subgraphs/cpus/src/graphql/resolvers/index.ts
  backend/subgraphs/cpus/src/graphql/resolvers/resolveCpuReference.ts
  backend/subgraphs/nodes/src/graphql/resolvers/index.ts
  backend/subgraphs/nodes/src/graphql/resolvers/resolveNodeReference.ts
Due: eslint --fix

fix: allow array
  backend/packages/graphql/src/decorators/method/RemoveNullArgs.ts
Due: eslint --fix

fix: allow date
  backend/packages/graphql/src/decorators/method/RemoveNullArgs.ts
Due: eslint --fix

refactor: subgraphs extends use requires
  backend/package-lock.json
  backend/packages/errors/src/RequiredFieldError.ts
  backend/packages/errors/src/index.ts
  backend/router/supergraph.graphql
  backend/subgraphs/cpus/package.json
  backend/subgraphs/cpus/src/graphql/resolvers/NodeCpuResolver.ts
  backend/subgraphs/nodes/package.json
  backend/subgraphs/nodes/src/graphql/resolvers/CpuNodeResolver.ts
  backend/subgraphs/nodes/src/graphql/resolvers/NodeResolver.ts
Due: eslint --fix, prettier --write

feat: cache digital unit converter
  backend/package-lock.json
  backend/subgraphs/cpus/package.json
Due: prettier --write

feat: cache gitial converter unit
  backend/packages/graphql/src/decorators/index.ts
  backend/packages/graphql/src/enums/DigitalBitUnit.ts
  backend/packages/graphql/src/enums/DigitalByteUnit.ts
  backend/packages/graphql/src/enums/index.ts
  backend/packages/graphql/src/index.ts
  backend/packages/graphql/src/middlewares/RemoveNullArgs.ts
  backend/packages/graphql/src/middlewares/index.ts
  backend/subgraphs/cpus/src/graphql/entities/Cpu.ts
  backend/subgraphs/cpus/src/graphql/inputs/CreateCpuInput.ts
  backend/subgraphs/cpus/src/graphql/resolvers/CpuCacheResolver.ts
  backend/subgraphs/cpus/src/graphql/resolvers/CpuResolver.ts
  backend/subgraphs/cpus/src/graphql/resolvers/NodeCpuResolver.ts
  backend/subgraphs/cpus/src/graphql/resolvers/index.ts
  backend/subgraphs/cpus/src/graphql/schema.ts
  backend/subgraphs/nodes/src/graphql/resolvers/NodeResolver.ts
  backend/subgraphs/nodes/src/graphql/schema.ts
Due: eslint --fix
