Repository carlocorradini/reCluster: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint

fix: bug
  scripts/bundle.sh
Due: prettier --write

fix: typo
  install.sh
Due: prettier --write

fix: bug
  install.sh
Due: prettier --write

feat: now it works!
  configs/k3s.controller.yaml
  configs/k8s/autoscaler/ca/deployment.yaml
  configs/k8s/metallb/config.yaml
  configs/k8s/registry/deployment.yaml
  configs/registries.yaml
  configs/server.env
  distributions/arch/packages.x86_64
  docs/installation.md
  install.sh
  scripts/certs.sh
  scripts/configs.config.yaml
  server/.env.example
Due: prettier --write, markdownlint

refactor: better configuration
  .vscode/settings.json
  configs/README.md
  configs/certs/.gitignore
  configs/certs/README.md
  configs/k3s/README.md
  configs/k3s/config.controller.yaml
  configs/k3s/config.worker.yaml
  configs/k3s/registries.yaml
  configs/k8s/README.md
  configs/k8s/autoscaler/README.md
  configs/k8s/autoscaler/ca/README.md
  configs/k8s/autoscaler/ca/deployment.yaml
  configs/k8s/loadbalancer/.gitignore
  configs/k8s/loadbalancer/README.md
  configs/k8s/loadbalancer/config.yaml
  configs/k8s/registry/README.md
  configs/k8s/registry/deployment.yaml
  configs/node_exporter/README.md
  configs/node_exporter/config.yaml
  configs/recluster/README.md
  configs/recluster/config.controller.yaml
  configs/recluster/config.worker.yaml
  configs/recluster/server.env
  configs/ssh/README.md
  configs/ssh/authorized_keys
  configs/ssh/ssh_config
  configs/ssh/sshd_config
  cspell.json
  docs/installation.md
  docs/installation_script.md
  install.sh
  license.json
  scripts/bundle.config.yaml
  scripts/configs.config.yaml
Due: prettier --write, markdownlint

fix: removed sub shell
  install.sh
Due: prettier --write

fix: path
  install.sh
Due: prettier --write

chore(install.sh): added todo
  install.sh
Due: prettier --write

fix: cspell
  cspell.json
Due: prettier --write

chore(deps): update dependencies
  package-lock.json
  package.json
  server/package-lock.json
  server/package.json
Due: prettier --write

feat: strong password for user
  server/src/config/config.ts
  server/src/graphql/args/SignInArgs.ts
  server/src/graphql/inputs/create/CreateUserInput.ts
  server/src/types/Config.ts
Due: none

fix: subshell
  install.sh
Due: prettier --write

fix: recluster script
  install.sh
Due: prettier --write

fix: pool name
  server/src/services/NodePoolService.ts
  server/src/services/NodeService.ts
Due: none

fix: added each to validation
  server/src/graphql/inputs/create/CreateNodeInput.ts
Due: none

fix: install parameters
  install.sh
Due: prettier --write

fix: bug
  server/src/graphql/inputs/create/CreateNodeInput.ts
  server/src/services/NodePoolService.ts
Due: none

fix: controller bug
  server/src/helpers/context.ts
  server/src/helpers/decorators/Auth.ts
  server/src/helpers/isControllerNode.ts
  server/src/services/NodePoolService.ts
  server/src/services/NodeService.ts
Due: none

fix: uninstall script
  install.sh
Due: prettier --write

docs: references
  README.md
Due: prettier --write, markdownlint

fix: class validator
  server/src/graphql/inputs/create/CreateNodeInput.ts
  server/src/graphql/schema.ts
Due: none

fix: wait time
  install.sh
Due: prettier --write

feat: controller pool min nodes equal to max nodes
  server/src/services/NodePoolService.ts
Due: none

docs: better installation docs
  docs/installation.md
Due: prettier --write, markdownlint

feat: worker node pools can scale down to 0
  server/src/config/config.ts
  server/src/graphql/inputs/update/UpdateNodePoolInput.ts
  server/src/services/NodePoolService.ts
  server/src/types/Config.ts
Due: none

refactor: better stop service order
  install.sh
Due: prettier --write

feat: admin and autoscaler users
  configs/k8s/autoscaler/ca/deployment.yaml
  configs/k8s/registry/deployment.yaml
  docs/installation_script.md
  install.sh
  scripts/configs.config.yaml
  scripts/configs.sh
  scripts/init.sh
  server/prisma/migrations/20221215224402_recluster/migration.sql
  server/prisma/schema.prisma
  server/src/graphql/args/update/UpdateUserArgs.ts
  server/src/graphql/args/update/index.ts
  server/src/graphql/inputs/update/UpdateUserInput.ts
  server/src/graphql/inputs/update/index.ts
  server/src/graphql/resolvers/node/NodeResolver.ts
  server/src/graphql/resolvers/node_pool/NodePoolResolver.ts
  server/src/graphql/resolvers/user/UserResolver.ts
  server/src/helpers/decorators/Auth.ts
  server/src/services/UserService.ts
  server/src/types/db/update/UpdateUserInput.ts
Due: prettier --write, markdownlint

feat: create db with connection url
  install.sh
  scripts/__commons.sh
Due: prettier --write

chore(commons): global downloader
  scripts/__commons.sh
Due: prettier --write

fix: configs
  configs/k8s/autoscaler/ca/deployment.yaml
  install.sh
  scripts/configs.sh
Due: prettier --write

chore(deps): update dependencies
  server/package-lock.json
  server/package.json
Due: prettier --write

fix: database url
  install.sh
Due: prettier --write

fix: db
  install.sh
Due: prettier --write

fix: minor
  server/src/graphql/resolvers/node/NodeResolver.ts
  server/tsconfig.json
Due: prettier --write

fix: graphql directive bug
  server/src/graphql/schema.ts
Due: none

chore(config): ca deployment
  configs/k8s/autoscaler/ca/deployment.yaml
Due: none

fix(partial): input field definition directive
  server/src/graphql/directives/authDirective.ts
Due: none

Path conditions:
  prettier --write: any of: *.{json,md,sh}
  markdownlint: any of: *.md
