Repository carlocorradini/reCluster: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint

.lintstagedrc:

{
    "*.ts": "eslint --fix",
    "*.{json,md}": "prettier --write",
    "*.md": "markdownlint"
}

refactor: single token secret
  server/src/config/config.ts
  server/src/config/env.ts
  server/src/services/TokenService.ts
Due: eslint --fix

feat: tokens type
  server/src/services/TokenService.ts
Due: eslint --fix

feat: context middleware
  server/src/auth/authFn.ts
  server/src/errors/AuthenticationError.ts
  server/src/graphql/index.ts
  server/src/helpers/formatErrorHelper.ts
  server/src/helpers/index.ts
  server/src/main.ts
  server/src/middlewares/contextMiddleware.ts
  server/src/middlewares/index.ts
  server/src/services/TokenService.ts
  server/src/types/Config.ts
  server/src/types/Context.ts
  server/src/types/index.ts
Due: eslint --fix

feat: create status with auth directive and applicant arg decorator
  server/src/auth/authFn.ts
  server/src/graphql/args/create/CreateNodeArgs.ts
  server/src/graphql/args/create/CreateStatusArgs.ts
  server/src/graphql/args/create/index.ts
  server/src/graphql/decorators/index.ts
  server/src/graphql/decorators/parameter/Applicant.ts
  server/src/graphql/decorators/parameter/index.ts
  server/src/graphql/index.ts
  server/src/graphql/inputs/create/CreateStatusInput.ts
  server/src/graphql/resolvers/status/StatusResolver.ts
  server/src/services/CpuService.ts
  server/src/services/InterfaceService.ts
  server/src/services/NodeService.ts
  server/src/services/StatusService.ts
Due: eslint --fix

feat: permissions in token and auth, removed unused dependency
  server/package-lock.json
  server/package.json
  server/src/auth/authFn.ts
  server/src/graphql/directives/authDirective.ts
  server/src/graphql/schema.ts
  server/src/services/NodeService.ts
  server/src/services/TokenService.ts
Due: eslint --fix, prettier --write

feat: auth decorator
  server/src/graphql/decorators/method/Auth.ts
  server/src/graphql/decorators/method/index.ts
  server/src/graphql/directives/authDirective.ts
  server/src/graphql/resolvers/status/StatusResolver.ts
  server/tsconfig.json
Due: eslint --fix, prettier --write

refactor: moved context to helper
  server/src/helpers/contextHelper.ts
  server/src/helpers/index.ts
  server/src/main.ts
  server/src/middlewares/index.ts
Due: eslint --fix

refactor: moved json bigint patch before dotenv
  server/src/main.ts
Due: eslint --fix

style: better sdl construction fo auth decorator
  server/src/graphql/decorators/method/Auth.ts
  server/src/graphql/directives/authDirective.ts
Due: eslint --fix

refactor: moved some types to correct folder
  server/src/graphql/decorators/method/Auth.ts
  server/src/graphql/directives/authDirective.ts
  server/src/graphql/resolvers/status/StatusResolver.ts
  server/src/helpers/contextHelper.ts
  server/src/services/TokenService.ts
  server/src/types/AuthData.ts
  server/src/types/helpers/FindManyArgs.ts
  server/src/types/helpers/ResolverData.ts
  server/src/types/helpers/index.ts
  server/src/types/index.ts
  server/src/types/token.ts
  server/src/types/utils/ClassType.ts
  server/src/types/utils/ExpandRecursively.ts
  server/src/types/utils/NonNullableRecursive.ts
  server/src/types/utils/Nullable.ts
  server/src/types/utils/NullableOptions.ts
  server/src/types/utils/NullableRecursive.ts
  server/src/types/utils/OptionalKeys.ts
  server/src/types/utils/PartialBy.ts
  server/src/types/utils/PartialRecursive.ts
  server/src/types/utils/PickOptional.ts
  server/src/types/utils/PickRequired.ts
  server/src/types/utils/RequiredKeys.ts
  server/src/types/utils/index.ts
Due: eslint --fix

refactor: moved auth function to auth directive
  server/src/auth/authFn.ts
  server/src/auth/index.ts
  server/src/graphql/directives/authDirective.ts
Due: eslint --fix

chore(deps): update dependencies
  server/package-lock.json
  server/package.json
Due: prettier --write

refactor: better author in package json
  package.json
Due: prettier --write

fix: common errors and typo
  .github/workflows/ci.yml
  license.json
  package.json
  server/.eslintrc
  server/.lintstagedrc.js
  server/package-lock.json
  server/package.json
Due: prettier --write

fix: general fix
  .github/workflows/ci.yml
  .prettierignore
  README.md
  server/package-lock.json
  server/package.json
  server/src/graphql/directives/authDirective.ts
  server/tsconfig.json
Due: eslint --fix, prettier --write, markdownlint

fix: tsconfig
  server/tsconfig.json
Due: prettier --write

Revert "chore(deps-dev): bump @types/node from 16.11.64 to 18.8.4 in /server"
  server/package-lock.json
  server/package.json
Due: prettier --write

fix: directive typedefs
  package-lock.json
  server/package-lock.json
  server/package.json
  server/src/graphql/directives/authDirective.ts
  server/src/graphql/schema.ts
Due: eslint --fix, prettier --write

fix: removed deprecated npm extension
  .vscode/extensions.json
Due: prettier --write

refactor: removed unnecessary convertion utility
  server/package-lock.json
  server/package.json
  server/src/graphql/resolvers/cpu/CpuResolver.ts
  server/src/graphql/resolvers/disk/DiskResolver.ts
  server/src/graphql/resolvers/interface/InterfaceResolver.ts
  server/src/graphql/resolvers/node/NodeResolver.ts
  server/src/utils/converter.ts
  server/src/utils/index.ts
Due: eslint --fix, prettier --write

docs: added funding and semantic release
  .github/FUNDING.yml
  .github/workflows/ci.yml
  README.md
Due: prettier --write, markdownlint

chore: better documentation, removed node types dependency and fixed lintstaged
  .lintstagedrc
  .lintstagedrc.js
  README.md
  license.json
  server/.lintstagedrc.js
  server/README.md
  server/package-lock.json
  server/package.json
Due: prettier --write, markdownlint

fix: package lock files
  package-lock.json
  server/package-lock.json
Due: prettier --write

feat: jwt token decoder and recluster bootstrap script and service
  linux/install.sh
Due: none

style: general structural fix
  linux/config.master.yml
  linux/config.worker.yml
  linux/install.sh
Due: none

chore: package version
  package-lock.json
  package.json
  server/package-lock.json
  server/package.json
Due: prettier --write

fix: lintstaged
  .lintstagedrc
Due: none

feat: user
  .lintstagedrc
  .lintstagedrc.js
  cspell.json
  license.json
  server/.lintstagedrc.js
  server/package-lock.json
  server/package.json
  server/prisma/migrations/20221014172930_recluster/migration.sql
  server/prisma/schema.prisma
  server/src/graphql/args/create/CreateUserArgs.ts
  server/src/graphql/args/create/index.ts
  server/src/graphql/args/find/many/FindManyUserArgs.ts
  server/src/graphql/args/find/many/PaginationArgs.ts
  server/src/graphql/args/find/many/index.ts
  server/src/graphql/args/find/unique/FindUniqueUserArgs.ts
  server/src/graphql/args/find/unique/index.ts
  server/src/graphql/entities/Node.ts
  server/src/graphql/entities/User.ts
  server/src/graphql/enums/NodePermissions.ts
  server/src/graphql/enums/UserPermissions.ts
  server/src/graphql/enums/UserRoles.ts
  server/src/graphql/enums/index.ts
  server/src/graphql/inputs/create/CreateNodeInput.ts
  server/src/graphql/inputs/create/CreateUserInput.ts
  server/src/graphql/inputs/filters/NodePermissionsListFilter.ts
  server/src/graphql/inputs/filters/UserPermissionsListFilter.ts
  server/src/graphql/inputs/filters/UserRolesListFilter.ts
  server/src/graphql/inputs/filters/index.ts
  server/src/graphql/inputs/orderby/OrderByNodeInput.ts
  server/src/graphql/inputs/orderby/OrderByUserInput.ts
  server/src/graphql/inputs/orderby/index.ts
  server/src/graphql/inputs/where/WhereNodeInput.ts
  server/src/graphql/inputs/where/WhereUserInput.ts
  server/src/graphql/inputs/where/index.ts
  server/src/graphql/resolvers/user/UserResolver.ts
  server/src/services/UserService.ts
  server/src/services/index.ts
Due: eslint --fix, prettier --write

refactor: schema is built with executable schema
  server/src/graphql/schema.ts
Due: eslint --fix

feat: user sign in
  server/package-lock.json
  server/package.json
  server/prisma/migrations/20221018142651_recluster/migration.sql
  server/prisma/schema.prisma
  server/src/config/config.ts
  server/src/db/prisma.ts
  server/src/graphql/args/SignInArgs.ts
  server/src/graphql/args/find/unique/FindUniqueUserArgs.ts
  server/src/graphql/args/index.ts
  server/src/graphql/entities/User.ts
  server/src/graphql/index.ts
  server/src/graphql/inputs/create/CreateUserInput.ts
  server/src/graphql/inputs/orderby/OrderByUserInput.ts
  server/src/graphql/inputs/where/WhereUserInput.ts
  server/src/graphql/resolvers/cpu/CpuNodeResolver.ts
  server/src/graphql/resolvers/cpu/CpuResolver.ts
  server/src/graphql/resolvers/disk/DiskNodeResolver.ts
  server/src/graphql/resolvers/disk/DiskResolver.ts
  server/src/graphql/resolvers/interface/InterfaceNodeResolver.ts
  server/src/graphql/resolvers/interface/InterfaceResolver.ts
  server/src/graphql/resolvers/node/NodeCpuResolver.ts
  server/src/graphql/resolvers/node/NodeDiskResolver.ts
  server/src/graphql/resolvers/node/NodeInterfaceResolver.ts
  server/src/graphql/resolvers/node/NodeResolver.ts
  server/src/graphql/resolvers/node/NodeStatusResolver.ts
  server/src/graphql/resolvers/status/StatusNodeResolver.ts
  server/src/graphql/resolvers/status/StatusResolver.ts
  server/src/graphql/resolvers/user/UserResolver.ts
  server/src/helpers/decorators/Applicant.ts
  server/src/helpers/decorators/Auth.ts
  server/src/helpers/decorators/index.ts
  server/src/helpers/index.ts
  server/src/services/CryptoService.ts
  server/src/services/NodeService.ts
  server/src/services/UserService.ts
  server/src/services/index.ts
  server/src/types/Config.ts
  server/src/types/token.ts
Due: eslint --fix, prettier --write

chore(deps-dev): update dev dependencies
  package-lock.json
  package.json
  server/package-lock.json
  server/package.json
Due: prettier --write

fix: prettier and installation
  .github/workflows/ci.yml
  README.md
  package.json
  server/package-lock.json
  server/package.json
Due: prettier --write, markdownlint

fix: package json
  .github/workflows/ci.yml
  README.md
  package.json
  server/package-lock.json
  server/package.json
Due: prettier --write, markdownlint

chore(db): database seed
  .lintstagedrc
  .lintstagedrc.js
  server/.lintstagedrc
  server/.lintstagedrc.js
  server/README.md
  server/kind.config.yml
  server/package.json
  server/prisma/data/cpus.ts
  server/prisma/data/index.ts
  server/prisma/data/nodes.ts
  server/prisma/tsconfig.json
  server/src/helpers/contextHelper.ts
  server/src/k8s/NodeInformer.ts
  server/src/k8s/index.ts
  server/src/main.ts
Due: eslint --fix, prettier --write, markdownlint

feat: fastify server
  cspell.json
  license.json
  server/kind.config.yml
  server/package-lock.json
  server/package.json
  server/prisma/tsconfig.json
  server/src/helpers/context.ts
  server/src/helpers/fastifyAppClosePlugin.ts
  server/src/helpers/formatError.ts
  server/src/main.ts
Due: eslint --fix, prettier --write

feat: fastify server
  server/package-lock.json
  server/package.json
  server/src/config/config.ts
  server/src/errors/AuthenticationError.ts
  server/src/errors/AuthorizationError.ts
  server/src/errors/DatabaseError.ts
  server/src/errors/InternalServerError.ts
  server/src/errors/TokenError.ts
  server/src/errors/ValidationError.ts
  server/src/errors/index.ts
  server/src/helpers/context.ts
  server/src/helpers/formatError.ts
  server/src/helpers/index.ts
  server/src/main.ts
  server/src/types/Config.ts
Due: eslint --fix, prettier --write
