Repository carlocorradini/reCluster: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint

style: added cspell plugin
  .eslintrc
  package-lock.json
  package.json
Due: prettier --write

fix: package-lock.json
  package-lock.json
Due: prettier --write

fix: cspell dirname and repo __logger.sh
  cspell.json
  package-lock.json
  scripts/__logger.sh
Due: prettier --write

chore(scripts): better scripts and added apollo rover in docker
  docker/Dockerfile.rover
  license.json
  scripts/__commons.sh
  scripts/__logger.sh
  scripts/router.sh
  scripts/supergraph.sh
Due: prettier --write

fix: cspell docker
  cspell.json
Due: prettier --write

fix: removed pre-push git hook
  .husky/pre-push
Due: none

fix: removed empty script
  packages/configs/package.json
  packages/graphql/package.json
  packages/helpers/package.json
Due: prettier --write

feat: initial database support
  .vscode/extensions.json
  .vscode/settings.json
  package-lock.json
  packages/prisma/.gitignore
  packages/prisma/package.json
  packages/prisma/schema.prisma
  packages/prisma/src/index.ts
  packages/prisma/src/prisma.ts
  packages/prisma/tsconfig.json
  scripts/database.sh
  subgraphs/nodes/package.json
  subgraphs/nodes/src/app.ts
  subgraphs/nodes/src/graphql/context.ts
  subgraphs/nodes/src/graphql/index.ts
  subgraphs/nodes/src/graphql/resolvers/NodeResolver.ts
  subgraphs/nodes/tsconfig.json
  tsconfig.json
Due: eslint --fix, prettier --write

docs: readme update
  README.md
Due: prettier --write, markdownlint

fix: license for .prisma files
  license.json
  packages/prisma/schema.prisma
Due: prettier --write

refactor: moved graphql types into packages/graphql
  package-lock.json
  packages/graphql/package.json
  packages/graphql/src/index.ts
  packages/graphql/src/types/Node.ts
  packages/graphql/src/types/index.ts
  subgraphs/nodes/src/graphql/index.ts
  subgraphs/nodes/src/graphql/resolvers/NodeResolver.ts
  subgraphs/nodes/src/graphql/resolvers/reference.ts
  subgraphs/nodes/src/graphql/schema.ts
Due: eslint --fix, prettier --write

feat: better architecture via DI
  package-lock.json
  subgraphs/nodes/package.json
  subgraphs/nodes/src/app.ts
  subgraphs/nodes/src/graphql/inputs/NodeAddInput.ts
  subgraphs/nodes/src/graphql/inputs/index.ts
  subgraphs/nodes/src/graphql/resolvers/NodeResolver.ts
  subgraphs/nodes/src/graphql/resolvers/reference.ts
  subgraphs/nodes/src/graphql/schema.ts
Due: eslint --fix, prettier --write

fix: spell word
  cspell.json
Due: prettier --write

chore(deps): update package-lock.json
  package-lock.json
Due: prettier --write

refactor: renamed @recluster/prisma to @recluster/database
  package-lock.json
  packages/database/.gitignore
  packages/database/package.json
  packages/database/schema.prisma
  packages/database/src/index.ts
  packages/database/src/prisma.ts
  packages/database/tsconfig.json
  subgraphs/nodes/package.json
  subgraphs/nodes/src/app.ts
  subgraphs/nodes/src/graphql/resolvers/reference.ts
  subgraphs/nodes/tsconfig.json
  tsconfig.json
Due: eslint --fix, prettier --write

fix: docs
  README.md
Due: prettier --write, markdownlint

refactor: moved prisma into a service
  packages/database/package.json
  subgraphs/nodes/src/app.ts
  subgraphs/nodes/src/graphql/resolvers/reference.ts
  subgraphs/nodes/src/services/NodeService.ts
  subgraphs/nodes/src/services/index.ts
Due: eslint --fix, prettier --write

chore(router): updated to v0.1.0-preview.3
  scripts/router.sh
Due: none

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: any of: *.{json,md}
  markdownlint: any of: *.md
