Repository carlocorradini/reCluster: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint

feat: federated schema structure
  .eslintrc
  .vscode/extensions.json
  cspell.json
  package-lock.json
  package.json
  src/app.ts
  src/gateway/app.ts
  src/gateway/supergraph.graphql
  src/graphql/resolvers/NodeResolver.ts
  src/graphql/schema.ts
  src/graphql/types/Node.ts
  src/helpers/buildFederatedSchema.ts
  src/helpers/index.ts
  src/subgraphs/nodes/app.ts
  src/subgraphs/nodes/data.ts
  src/subgraphs/nodes/graphql/index.ts
  src/subgraphs/nodes/graphql/resolvers/NodeResolver.ts
  src/subgraphs/nodes/graphql/resolvers/index.ts
  src/subgraphs/nodes/graphql/resolvers/reference.ts
  src/subgraphs/nodes/graphql/schema.ts
  src/subgraphs/nodes/graphql/types/Node.ts
  src/subgraphs/nodes/graphql/types/index.ts
  supergraph.yaml
  tsconfig.json
Due: eslint --fix, prettier --write

refactor: monorepo architecture
  .eslintignore
  .eslintrc
  .gitignore
  .markdownlintignore
  .prettierignore
  cspell.json
  gateway/package.json
  gateway/src/app.ts
  gateway/tsconfig.json
  package-lock.json
  package.json
  packages/graphql/package.json
  packages/graphql/src/index.ts
  packages/graphql/src/scalars/index.ts
  packages/graphql/tsconfig.json
  packages/helpers/package.json
  packages/helpers/src/buildFederatedSchema.ts
  packages/helpers/src/index.ts
  packages/helpers/tsconfig.json
  packages/tsconfig.json
  src/gateway/supergraph.graphql
  subgraphs/nodes/package.json
  subgraphs/nodes/src/app.ts
  subgraphs/nodes/src/data.ts
  subgraphs/nodes/src/graphql/index.ts
  subgraphs/nodes/src/graphql/resolvers/NodeResolver.ts
  subgraphs/nodes/src/graphql/resolvers/index.ts
  subgraphs/nodes/src/graphql/resolvers/reference.ts
  subgraphs/nodes/src/graphql/schema.ts
  subgraphs/nodes/src/graphql/types/Node.ts
  subgraphs/nodes/src/graphql/types/index.ts
  subgraphs/nodes/tsconfig.json
  subgraphs/tsconfig.json
  tsconfig.common.json
  tsconfig.json
Due: eslint --fix, prettier --write

fix: order
  .github/workflows/ci.yml
Due: none

fix: package.json
  gateway/package.json
  package-lock.json
  package.json
  subgraphs/nodes/package.json
Due: prettier --write

feat: apollo router!
  .eslintrc
  cspell.json
  gateway/package.json
  gateway/src/app.ts
  gateway/tsconfig.json
  package.json
  router/router.yaml
  router/supergraph.graphql
  router/supergraph.yaml
  scripts/__commons.sh
  scripts/__logger.sh
  scripts/router.sh
  scripts/supergraph.sh
  supergraph.yaml
  tsconfig.json
Due: eslint --fix, prettier --write

fix: cspell accepted words
  cspell.json
  package-lock.json
  package.json
Due: prettier --write

chore(deps): updated dependencies
  package-lock.json
  package.json
Due: prettier --write

chore(license): license header and automatic license generator
  .markdownlintignore
  LICENSE
  license.json
  package-lock.json
  package.json
  packages/graphql/src/index.ts
  packages/graphql/src/scalars/index.ts
  packages/helpers/src/buildFederatedSchema.ts
  packages/helpers/src/index.ts
  router/router.yaml
  router/supergraph.graphql
  router/supergraph.yaml
  scripts/__commons.sh
  scripts/router.sh
  scripts/supergraph.sh
  subgraphs/nodes/src/app.ts
  subgraphs/nodes/src/data.ts
  subgraphs/nodes/src/graphql/index.ts
  subgraphs/nodes/src/graphql/resolvers/NodeResolver.ts
  subgraphs/nodes/src/graphql/resolvers/index.ts
  subgraphs/nodes/src/graphql/resolvers/reference.ts
  subgraphs/nodes/src/graphql/schema.ts
  subgraphs/nodes/src/graphql/types/Node.ts
  subgraphs/nodes/src/graphql/types/index.ts
Due: eslint --fix, prettier --write

fix: ignore files
  .gitignore
  license.json
  package.json
Due: prettier --write

fix: prettier
  router/router.yaml
Due: none

fix: cspell ignore list
  cspell.json
Due: prettier --write

fix: git hooks scripts
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  package.json
Due: prettier --write

feat(license): automatic rule for license in eslint
  .eslintignore
  .eslintrc
  license.js
  package-lock.json
  package.json
Due: prettier --write

feat(logger): added logging
  cspell.json
  package-lock.json
  packages/configs/package.json
  packages/configs/src/index.ts
  packages/configs/src/logger.ts
  packages/configs/tsconfig.json
  subgraphs/nodes/package.json
  subgraphs/nodes/src/logger/index.ts
  subgraphs/nodes/src/logger/logger.ts
  tsconfig.json
Due: eslint --fix, prettier --write

fix: typescript tsconfig
  subgraphs/tsconfig.json
  tsconfig.common.json
Due: prettier --write

docs: better readme
  README.md
  scripts/__commons.sh
  scripts/router.sh
  scripts/supergraph.sh
Due: prettier --write, markdownlint

docs: better query example
  README.md
Due: prettier --write, markdownlint

docs: added requirements
  README.md
Due: prettier --write, markdownlint

Update README.md
  README.md
Due: prettier --write, markdownlint

fix: typo
  README.md
Due: prettier --write, markdownlint

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: any of: *.{json,md}
  markdownlint: any of: *.md
