Repository carlocorradini/reCluster: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint, cd server && eslint --fix

.lintstagedrc:

{
  "*.{json,md}": "prettier --write",
  "*.md": "markdownlint",
  "*.ts": [
    "cd server && eslint --fix",
    "prettier --write"
  ]
}

refactor: ssh constructor
  server/src/services/NodeService.ts
  server/src/ssh/SSH.ts
Due: prettier --write, cd server && eslint --fix

feat: update performance and score cpu fields when upsert
  server/src/services/CpuService.ts
Due: prettier --write, cd server && eslint --fix

refactor: install now starts bootstrap script when launched
  linux/install.sh
Due: none

feat: dev script generate certificates
  linux/distributions/alpine/build.sh
  scripts/__commons.sh
  server/.env.example
  server/.gitignore
  server/README.md
  server/package.json
  server/scripts/dev.sh
Due: prettier --write, markdownlint

feat: added try catch in node informer
  server/src/k8s/NodeInformer.ts
  server/src/services/NodeService.ts
Due: prettier --write, cd server && eslint --fix

fix: cpu architexture seed
  server/prisma/data/cpus.ts
  server/prisma/migrations/20221107161938_recluster/migration.sql
  server/prisma/migrations/migration_lock.toml
Due: prettier --write, cd server && eslint --fix

fix: keys and miscellaneous
  README.md
  Vagrantfile
  cspell.json
  linux/configs/common.config.yml
  linux/configs/controller.config.yml
  linux/distributions/alpine/genapkovl-recluster.sh
  linux/distributions/alpine/mkimg.recluster.sh
  linux/install.sh
  server/.env.example
  server/README.md
  server/package-lock.json
  server/package.json
  server/scripts/dev.sh
  server/src/k8s/NodeInformer.ts
  server/src/main.ts
  server/src/services/CpuService.ts
  server/src/services/K8sService.ts
  server/src/services/NodeService.ts
Due: prettier --write, markdownlint, cd server && eslint --fix

fix: typo
  linux/configs/controller.config.yml
Due: none

fix: added yq style double when writing configurations
  linux/install.sh
Due: none

feat: certificates now must have passphrase
  server/.env.example
  server/README.md
  server/scripts/dev.sh
  server/src/config/config.ts
  server/src/config/env.ts
  server/src/services/TokenService.ts
  server/src/ssh/SSH.ts
  server/src/types/Config.ts
Due: prettier --write, markdownlint, cd server && eslint --fix

refactor: rearranged warn order
  server/scripts/dev.sh
Due: none

feat: transactions in services
  server/prisma/schema.prisma
  server/src/services/CpuService.ts
  server/src/services/DiskService.ts
  server/src/services/InterfaceService.ts
  server/src/services/NodePoolService.ts
  server/src/services/NodeService.ts
  server/src/services/StatusService.ts
  server/src/services/UserService.ts
Due: prettier --write, cd server && eslint --fix

feat: logger level and k8s node
  server/.env.example
  server/src/config/config.ts
  server/src/config/env.ts
  server/src/k8s/K8sNodeStatusEnum.ts
  server/src/k8s/NodeInformer.ts
  server/src/k8s/index.ts
  server/src/logger/logger.ts
  server/src/services/K8sService.ts
  server/src/services/NodeService.ts
  server/src/types/Config.ts
  server/src/types/K8sNode.ts
  server/src/types/db/CreateCpuInput.ts
  server/src/types/db/CreateDiskInput.ts
  server/src/types/db/CreateInterfaceInput.ts
  server/src/types/db/CreateNodeInput.ts
  server/src/types/db/CreateUserInput.ts
  server/src/types/db/UpdateNodePoolInput.ts
  server/src/types/db/UpdateStatusInput.ts
  server/src/types/db/index.ts
Due: prettier --write, cd server && eslint --fix

fix: added fastify logger
  server/src/main.ts
Due: prettier --write, cd server && eslint --fix

fix: certificates token generation
  server/README.md
  server/scripts/dev.sh
Due: prettier --write, markdownlint

fix: pino in utc time format
  server/package.json
Due: prettier --write

chore(deps): update dependencies
  server/package-lock.json
  server/package.json
Due: prettier --write

refactor: k8s as type
  server/src/types/index.ts
  server/src/types/k8s.ts
Due: prettier --write, cd server && eslint --fix

feat: better syntax and node pool upsert correct pool by node role
  linux/install.sh
  server/src/config/config.ts
  server/src/errors/K8sError.ts
  server/src/errors/NodeError.ts
  server/src/errors/NodePoolError.ts
  server/src/errors/index.ts
  server/src/graphql/resolvers/node_pool/NodePoolResolver.ts
  server/src/k8s/NodeInformer.ts
  server/src/services/K8sService.ts
  server/src/services/NodePoolService.ts
  server/src/services/NodeService.ts
  server/src/types/Config.ts
  server/src/types/db/create/CreateCpuInput.ts
  server/src/types/db/create/CreateInterfaceInput.ts
  server/src/types/db/create/CreateNodeInput.ts
  server/src/types/db/create/CreateStorageInput.ts
  server/src/types/db/create/CreateUserInput.ts
  server/src/types/db/create/index.ts
  server/src/types/db/index.ts
  server/src/types/db/update/UpdateNodeInput.ts
  server/src/types/db/update/UpdateNodePoolInput.ts
  server/src/types/db/update/UpdateStatusInput.ts
  server/src/types/db/update/index.ts
  server/src/types/helpers/FindManyArgs.ts
  server/src/types/helpers/UpdateInput.ts
  server/src/types/helpers/index.ts
  server/src/types/index.ts
Due: prettier --write, cd server && eslint --fix

fix: yq yaml style
  linux/install.sh
Due: none

feat: arch linux distribution
  linux/distributions/alpine/Dockerfile
  linux/distributions/arch/.gitignore
  linux/distributions/arch/Dockerfile
  linux/distributions/arch/build.sh
  linux/distributions/arch/packages.x86_64
  linux/distributions/arch/profiledef.sh
Due: none

docs: burn iso instructions
  README.md
  linux/configs/README.md
  linux/dependencies/README.md
  linux/distributions/alpine/.gitignore
  linux/distributions/alpine/logo.png
  linux/distributions/arch/.gitignore
  linux/distributions/arch/README.md
  linux/distributions/arch/logo.png
  linux/distributions/arch/packages.x86_64
  server/README.md
Due: prettier --write, markdownlint

fix: alpine linux distribution
  linux/distributions/alpine/genapkovl-recluster.sh
  linux/distributions/alpine/mkimg.recluster.sh
Due: none

fix: typo
  linux/distributions/alpine/build.sh
Due: none

fix: typo
  linux/distributions/alpine/README.md
  linux/distributions/arch/README.md
Due: prettier --write, markdownlint

docs: link to main distribution
  linux/distributions/alpine/README.md
  linux/distributions/arch/README.md
Due: prettier --write, markdownlint

docs: missing dot
  linux/distributions/alpine/README.md
Due: prettier --write, markdownlint

fix: error due to comment
  linux/distributions/alpine/genapkovl-recluster.sh
Due: none

docs: better distributions documentation
  linux/distributions/alpine/README.md
  linux/distributions/arch/README.md
  linux/distributions/arch/packages.x86_64
Due: prettier --write, markdownlint

feat: node boot function via wol
  cspell.json
  server/package-lock.json
  server/package.json
  server/src/services/NodeService.ts
  server/src/services/WoLService.ts
  server/src/services/index.ts
Due: prettier --write, cd server && eslint --fix

refactor: simple node pool count refactor
  cspell.json
  license.json
  server/src/graphql/inputs/create/CreateNodeInput.ts
  server/src/services/NodePoolService.ts
Due: prettier --write, cd server && eslint --fix

chore(deps): update dependencies
  package-lock.json
  package.json
  server/package-lock.json
  server/package.json
Due: prettier --write

docs: alpine distribution patch
  linux/distributions/alpine/README.md
Due: prettier --write, markdownlint

feat: added field resolver checks
  server/src/graphql/entities/Cpu.ts
  server/src/graphql/entities/Interface.ts
  server/src/graphql/entities/Node.ts
  server/src/graphql/entities/NodePool.ts
  server/src/graphql/entities/Status.ts
  server/src/graphql/entities/Storage.ts
  server/src/graphql/resolvers/cpu/CpuNodeResolver.ts
  server/src/graphql/resolvers/cpu/CpuResolver.ts
  server/src/graphql/resolvers/interface/InterfaceNodeResolver.ts
  server/src/graphql/resolvers/interface/InterfaceResolver.ts
  server/src/graphql/resolvers/node/NodeCpuResolver.ts
  server/src/graphql/resolvers/node/NodeInterfaceResolver.ts
  server/src/graphql/resolvers/node/NodeNodePoolResolver.ts
  server/src/graphql/resolvers/node/NodeResolver.ts
  server/src/graphql/resolvers/node/NodeStatusResolver.ts
  server/src/graphql/resolvers/node/NodeStorageResolver.ts
  server/src/graphql/resolvers/node_pool/NodePoolNodeResolver.ts
  server/src/graphql/resolvers/node_pool/NodePoolResolver.ts
  server/src/graphql/resolvers/status/StatusNodeResolver.ts
  server/src/graphql/resolvers/status/StatusResolver.ts
  server/src/graphql/resolvers/storage/StorageNodeResolver.ts
  server/src/graphql/resolvers/storage/StorageResolver.ts
  server/src/graphql/resolvers/user/UserResolver.ts
Due: prettier --write, cd server && eslint --fix

chore(spell): updated cspell
  cspell.json
  package-lock.json
  package.json
Due: prettier --write

fix: warn message in increase or decrease node pool
  server/src/services/NodePoolService.ts
Due: prettier --write, cd server && eslint --fix

feat: increase and decrease node pool count
  server/src/services/NodePoolService.ts
  server/src/services/NodeService.ts
Due: prettier --write, cd server && eslint --fix
