Repository carlocorradini/reCluster: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint

feat: github actions ci.yml
  .github/workflows/ci.yml
Due: none

fix: fix prettier errors
  .eslintrc
  .github/dependabot.yml
  .prettierrc
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  src/app.ts
Due: eslint --fix, prettier --write, markdownlint

fix: fix prettier error
  .eslintrc
Due: none

fix: cspell
  cspell.json
  package.json
Due: prettier --write

fix: better license in readme file
  README.md
Due: prettier --write, markdownlint

fix: github action badge
  .github/workflows/ci.yml
  README.md
Due: prettier --write, markdownlint

feat: allow import with @app/
  .eslintrc
  .github/workflows/ci.yml
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

fix: readme ci badge
  README.md
Due: prettier --write, markdownlint

fix(markdownlint): $schema support
  .markdownlint.json
Due: prettier --write

fix(tsconfig.json): removed useless comment
  tsconfig.json
Due: prettier --write

fix: eslint and prettier
  .eslintrc
  .prettierrc
  .vscode/settings.json
  package-lock.json
  package.json
Due: prettier --write

fix: better ci
  .github/workflows/ci.yml
Due: none

fix: typo in ci.yml
  .github/workflows/ci.yml
Due: none

fix: fix prettier in ci.yml
  .github/workflows/ci.yml
Due: none

chore: from es2020 to es2022
  .eslintrc
  tsconfig.json
Due: prettier --write

fix: shellcheck ignore paths
  .github/workflows/ci.yml
Due: none

fix: ci and yaml prettier
  .github/workflows/ci.yml
  .vscode/settings.json
Due: prettier --write

feat: first example
  package-lock.json
  package.json
  src/app.ts
  src/graphql/index.ts
  src/graphql/resolvers/NodeResolver.ts
  src/graphql/resolvers/index.ts
  src/graphql/scalars/index.ts
  src/graphql/schema.ts
  src/graphql/types/Node.ts
  src/graphql/types/index.ts
Due: eslint --fix, prettier --write

fix: added $schema to JSON files
  .commitlintrc
  .eslintrc
  .markdownlint.json
  .prettierrc
  .vscode/settings.json
  cspell.json
  package.json
  tsconfig.json
Due: prettier --write

fix: ci job name
  .github/workflows/ci.yml
Due: none

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: any of: *.{json,md}
  markdownlint: any of: *.md
