Repository carlocorradini/reCluster: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint

refactor: bootstrap script service
  linux/install.sh
Due: none

refactor: removed unused folder and scripts
  linux/alpine/build.sh
  linux/install.sh
  registry/config.yml
  registry/registry.sh
  scripts/__commons.sh
  scripts/build.sh
Due: none

refactor: moved alpine linux to distributions
  linux/distributions/alpine/.gitignore
  linux/distributions/alpine/Dockerfile
  linux/distributions/alpine/build.sh
  linux/distributions/alpine/genapkovl-recluster.sh
  linux/distributions/alpine/mkimg.recluster.sh
Due: none

refactor: rename power consumption vars as pc for power consumption
  linux/install.sh
Due: none

fix: latest release folder
  linux/dependencies/dependencies.sh
Due: none

refactor: bash code style
  linux/distributions/alpine/build.sh
  scripts/__commons.sh
Due: none

refactor: benchmarks and power consumption is now two different functions
  linux/install.sh
Due: none

feat: better jq syntax, retval and read power consumtpion now accepts empty pid
  linux/install.sh
Due: none

fix: removed todo idle
  linux/install.sh
Due: none

refactor: removed useless code
  server/README.md
  server/package-lock.json
  server/package.json
  server/prisma/schema.prisma
  server/src/config/config.ts
  server/src/graphql/entities/Interface.ts
  server/src/graphql/entities/Node.ts
  server/src/k8s/NodeInformer.ts
  server/src/logger/logger.ts
  server/src/services/NodeService.ts
  server/src/services/nodeStatusMachine.ts
Due: eslint --fix, prettier --write, markdownlint

refactor: moved from typedi to tsyringe for dependency injection
  server/package-lock.json
  server/package.json
  server/src/graphql/resolvers/cpu/CpuNodeResolver.ts
  server/src/graphql/resolvers/cpu/CpuResolver.ts
  server/src/graphql/resolvers/disk/DiskNodeResolver.ts
  server/src/graphql/resolvers/disk/DiskResolver.ts
  server/src/graphql/resolvers/interface/InterfaceNodeResolver.ts
  server/src/graphql/resolvers/interface/InterfaceResolver.ts
  server/src/graphql/resolvers/node/NodeCpuResolver.ts
  server/src/graphql/resolvers/node/NodeDiskResolver.ts
  server/src/graphql/resolvers/node/NodeInterfaceResolver.ts
  server/src/graphql/resolvers/node/NodeResolver.ts
  server/src/graphql/schema.ts
  server/src/k8s/NodeInformer.ts
  server/src/main.ts
  server/src/services/CpuService.ts
  server/src/services/DiskService.ts
  server/src/services/InterfaceService.ts
  server/src/services/NodeService.ts
Due: eslint --fix, prettier --write

refactor: service args now take graphql args and not prisma args
  server/src/graphql/resolvers/cpu/CpuNodeResolver.ts
  server/src/graphql/resolvers/cpu/CpuResolver.ts
  server/src/graphql/resolvers/disk/DiskNodeResolver.ts
  server/src/graphql/resolvers/disk/DiskResolver.ts
  server/src/graphql/resolvers/interface/InterfaceNodeResolver.ts
  server/src/graphql/resolvers/interface/InterfaceResolver.ts
  server/src/graphql/resolvers/node/NodeCpuResolver.ts
  server/src/graphql/resolvers/node/NodeDiskResolver.ts
  server/src/graphql/resolvers/node/NodeInterfaceResolver.ts
  server/src/graphql/resolvers/node/NodeResolver.ts
  server/src/services/CpuService.ts
  server/src/services/DiskService.ts
  server/src/services/InterfaceService.ts
  server/src/services/NodeService.ts
Due: eslint --fix

fix: converter return value
  package-lock.json
  server/package-lock.json
  server/src/utils/converter.ts
Due: eslint --fix, prettier --write

feat: now bit and byte converter are now a single digital converter
  server/src/graphql/enums/DigitalBitUnit.ts
  server/src/graphql/enums/DigitalUnit.ts
  server/src/graphql/enums/index.ts
  server/src/graphql/resolvers/cpu/CpuResolver.ts
  server/src/graphql/resolvers/disk/DiskResolver.ts
  server/src/graphql/resolvers/interface/InterfaceResolver.ts
  server/src/graphql/resolvers/node/NodeResolver.ts
  server/src/utils/converter.ts
Due: eslint --fix

fix: migration
  server/prisma/migrations/20220928183909_recluster/migration.sql
Due: none

refactor: better recluster installation procedure in script
  linux/install.sh
Due: none

style: better debug messages during benchmark
  linux/install.sh
Due: none

refactor: better benchmrks
  linux/install.sh
  linux/out.json
Due: prettier --write

refactor: ram as primitive value
  linux/install.sh
Due: none

style: disable body-max-line-length
  .commitlintrc
Due: none

feat: updated at and created at columns
  server/prisma/migrations/20220929165206_recluster/migration.sql
  server/prisma/schema.prisma
  server/src/graphql/entities/Disk.ts
  server/src/graphql/entities/Interface.ts
Due: eslint --fix

feat: max and min power consumption in node and single and multi thread score in cpu
  linux/out.json
  server/prisma/migrations/20220929172946_recluster/migration.sql
  server/prisma/schema.prisma
  server/src/graphql/entities/Cpu.ts
  server/src/graphql/entities/Disk.ts
  server/src/graphql/entities/Interface.ts
  server/src/graphql/entities/Node.ts
  server/src/graphql/inputs/create/CreateCpuInput.ts
  server/src/graphql/inputs/create/CreateNodeInput.ts
  server/src/graphql/inputs/orderby/OrderByCpuInput.ts
  server/src/graphql/inputs/orderby/OrderByDiskInput.ts
  server/src/graphql/inputs/orderby/OrderByInterfaceInput.ts
  server/src/graphql/inputs/orderby/OrderByNodeInput.ts
  server/src/graphql/inputs/where/WhereCpuInput.ts
  server/src/graphql/inputs/where/WhereDiskInput.ts
  server/src/graphql/inputs/where/WhereInterfaceInput.ts
  server/src/graphql/inputs/where/WhereNodeInput.ts
Due: eslint --fix, prettier --write

refactor: better logger configurator
  server/src/logger/logger.ts
Due: eslint --fix

feat: cpu performance and efficiency threshold
  server/prisma/migrations/20220930100348_recluster/migration.sql
  server/prisma/schema.prisma
  server/src/graphql/entities/Cpu.ts
  server/src/graphql/inputs/create/CreateCpuInput.ts
  server/src/graphql/inputs/filters/BigIntFilter.ts
  server/src/graphql/inputs/filters/IntFilter.ts
  server/src/graphql/inputs/filters/IntNullableFilter.ts
  server/src/graphql/inputs/filters/index.ts
  server/src/graphql/inputs/orderby/OrderByCpuInput.ts
  server/src/graphql/inputs/where/WhereCpuInput.ts
Due: eslint --fix

feat: minimum efficiency and maximum performance power consumption
  server/prisma/migrations/20220930144952_recluster/migration.sql
  server/prisma/schema.prisma
  server/src/graphql/entities/Node.ts
  server/src/graphql/inputs/create/CreateNodeInput.ts
  server/src/graphql/inputs/orderby/OrderByNodeInput.ts
  server/src/graphql/inputs/where/WhereNodeInput.ts
Due: eslint --fix

feat: validation if defined for cpu and node
  cspell.json
  server/README.md
  server/src/graphql/args/create/CreateNodeArgs.ts
  server/src/graphql/inputs/create/CreateCpuInput.ts
  server/src/graphql/inputs/create/CreateNodeInput.ts
Due: eslint --fix, prettier --write, markdownlint

fix: markdownlint
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependencies
  package-lock.json
  package.json
  server/package-lock.json
  server/package.json
Due: prettier --write

refactor: match server json input
  linux/install.sh
Due: none

fix: npm package
  server/package-lock.json
Due: prettier --write

chore(deps): update dependencies
  server/package-lock.json
Due: prettier --write

chore(deps): update dependencies
  server/package-lock.json
  server/package.json
Due: prettier --write

refactor: convert instead of convert-units library
  server/package-lock.json
  server/package.json
  server/src/graphql/enums/DigitalUnit.ts
  server/src/utils/converter.ts
Due: eslint --fix, prettier --write

feat: enum description and update node
  cspell.json
  linux/config.master.yaml
  server/prisma/migrations/20221004223422_recluster/migration.sql
  server/prisma/migrations/migration_lock.toml
  server/prisma/schema.prisma
  server/src/graphql/args/update/UpdateNodeArgs.ts
  server/src/graphql/args/update/index.ts
  server/src/graphql/entities/Cpu.ts
  server/src/graphql/entities/Interface.ts
  server/src/graphql/entities/Node.ts
  server/src/graphql/entities/Status.ts
  server/src/graphql/enums/CpuArchitectures.ts
  server/src/graphql/enums/CpuVendors.ts
  server/src/graphql/enums/DigitalUnits.ts
  server/src/graphql/enums/InterfaceWoLFlags.ts
  server/src/graphql/enums/NodeRoles.ts
  server/src/graphql/enums/NodeStatuses.ts
  server/src/graphql/enums/SortOrders.ts
  server/src/graphql/enums/index.ts
  server/src/graphql/inputs/create/CreateCpuInput.ts
  server/src/graphql/inputs/create/CreateInterfaceInput.ts
  server/src/graphql/inputs/create/CreateNodeInput.ts
  server/src/graphql/inputs/create/CreateStatusInput.ts
  server/src/graphql/inputs/filters/CpuArchitecturesFilter.ts
  server/src/graphql/inputs/filters/CpuVendorsFilter.ts
  server/src/graphql/inputs/filters/InterfaceWoLFlagsListFilter.ts
  server/src/graphql/inputs/filters/NodeRolesListFilter.ts
  server/src/graphql/inputs/update/UpdateNodeInput.ts
  server/src/graphql/inputs/update/index.ts
  server/src/graphql/resolvers/cpu/CpuResolver.ts
  server/src/graphql/resolvers/disk/DiskResolver.ts
  server/src/graphql/resolvers/interface/InterfaceResolver.ts
  server/src/graphql/resolvers/node/NodeResolver.ts
  server/src/services/NodeService.ts
  server/src/utils/converter.ts
Due: eslint --fix, prettier --write

feat: ram in node exporter config
  linux/config.master.yaml
  linux/config.worker.yaml
Due: none

feat: added print node facts
  linux/install.sh
Due: none

feat: added prometheus as a dependency
  linux/config.master.yml
  linux/config.worker.yml
  linux/dependencies/dependencies.yml
  linux/install.sh
Due: none

feat: added readme for alpine linux distribution
  linux/distributions/alpine/README.md
Due: prettier --write, markdownlint

refactor: better cluster initialization
  linux/install.sh
  server/Dockerfile
  server/src/main.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: any of: *.{json,md}
  markdownlint: any of: *.md
