Repository carlocorradini/reCluster: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint

.lintstagedrc:

{
    "*.ts": "eslint --fix",
    "*.{json,md}": "prettier --write",
    "*.md": "markdownlint"
}

fix: vagrant
  README.md
  Vagrantfile
  linux/alpine/build.sh
  linux/alpine/genapkovl-recluster.sh
  linux/alpine/mkimg.recluster.sh
  linux/config.agent.yaml
  linux/config.server.yaml
  server/Dockerfile
  server/README.md
  server/prisma/migrations/20220602175920_recluster/migration.sql
  server/scripts/dockerize.sh
Due: prettier --write, markdownlint

feat: my poor mind
  README.md
  Vagrantfile
  linux/alpine/genapkovl-recluster.sh
  linux/alpine/mkimg.recluster.sh
  linux/config.controller.yaml
  linux/config.worker.yaml
  linux/install.sh
  server/README.md
  server/src/k8s/NodeInformer.ts
  server/src/services/NodeService.ts
  server/src/services/nodeStatusMachine.ts
Due: eslint --fix, prettier --write, markdownlint

fix: checks
  cspell.json
  linux/alpine/genapkovl-recluster.sh
  linux/config.controller.yaml
  linux/config.worker.yaml
Due: prettier --write

Update README.md
  README.md
Due: prettier --write, markdownlint

fix: colors when running husky and lint staged
  .husky/pre-commit
Due: none

feat: read power consumption via external device
  .husky/pre-commit
  linux/install.sh
Due: none

fix: command ps and typo
  linux/install.sh
Due: none

chore(deps): update depedencies
  package-lock.json
  package.json
  server/package-lock.json
  server/package.json
Due: prettier --write

refactor: read power consumption warmup time and bench time set to 30 seconds
  linux/install.sh
Due: none

fix: removed debug echo
  linux/install.sh
Due: none

fix: commands
  linux/install.sh
Due: none

chore(deps): update root dependencies
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update server dependencies
  server/package-lock.json
  server/package.json
Due: prettier --write

feat: mean standard deviation for power consumption readings
  linux/install.sh
Due: none

chore(deps): update dependencies
  package-lock.json
  package.json
  server/package-lock.json
  server/package.json
Due: prettier --write

fix: digital conversion returns a real number
  server/src/utils/converter.ts
Due: eslint --fix

refactor: better code syntax
  linux/install.sh
Due: none

fix: npm depency lockfile error
  package.json
  server/package-lock.json
Due: prettier --write

fix: retval and escaping
  linux/install.sh
Due: none

fix: ci
  package.json
Due: prettier --write

refactor: removed server global middleware
  server/src/graphql/index.ts
  server/src/graphql/middlewares/RemoveNullArgs.ts
  server/src/graphql/middlewares/index.ts
  server/src/graphql/schema.ts
Due: eslint --fix

fix: ci
  .github/workflows/ci.yml
  README.md
  package.json
Due: prettier --write, markdownlint

fix: ci
  package-lock.json
  server/package-lock.json
Due: prettier --write

fix: ci
  server/package-lock.json
Due: prettier --write

fix: ci again
  package-lock.json
  server/package-lock.json
  server/package.json
Due: prettier --write

fix: typo
  server/package.json
Due: prettier --write

refactor: better script syntax
  server/scripts/database.sh
  server/scripts/dockerize.sh
Due: none

refactor: prettier plugin shell and fix
  .prettierignore
  linux/alpine/build.sh
  linux/alpine/genapkovl-recluster.sh
  linux/dependencies/dependencies.sh
  linux/install.sh
  package-lock.json
  package.json
  scripts/__commons.sh
Due: prettier --write

refactor: server readme
  server/README.md
Due: prettier --write, markdownlint

fix: url reachability hide stdout
  linux/install.sh
Due: none

fix: system info
  linux/install.sh
Due: none

fix: typo
  linux/config.worker.yaml
Due: none

fix: prettier ignore husky generated folder
  .prettierignore
Due: none

refactor: removed function argument check
  linux/install.sh
Due: none

fix: remove duplicate term
  linux/install.sh
Due: none

fix: error messages and typo
  linux/dependencies/dependencies.sh
  linux/dependencies/dependencies.yml
Due: none

feat: latest release directory
  linux/dependencies/dependencies.sh
Due: none

fix: clean and latest release symlink
  linux/dependencies/dependencies.sh
Due: none

refactor: spinner installation start before logic
  linux/install.sh
Due: none

refactor: removed useless warn messages
  linux/install.sh
Due: none
