Repository carlocorradini/reCluster: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint

.lintstagedrc:

{
    "*.ts": "eslint --fix",
    "*.{json,md}": "prettier --write",
    "*.md": "markdownlint"
}

refactor: moved cpu architecture and vendor to enums in graphql package
  backend/packages/graphql/src/enums/CpuArchitecture.ts
  backend/packages/graphql/src/enums/CpuVendor.ts
  backend/packages/graphql/src/enums/index.ts
  backend/router/supergraph.graphql
  backend/subgraphs/cpus/src/graphql/entities/Cpu.ts
  backend/subgraphs/cpus/src/graphql/filters/EnumCpuArchitectureFilter.ts
  backend/subgraphs/cpus/src/graphql/inputs/CreateCpuInput.ts
  backend/subgraphs/nodes/src/graphql/inputs/CreateCpuInput.ts
Due: eslint --fix

fix: added correct implementation for classes
  backend/package-lock.json
  backend/packages/graphql/src/middlewares/RemoveNullArgs.ts
  backend/packages/helpers/package.json
  backend/packages/utils/src/types.ts
  backend/router/supergraph.graphql
  backend/subgraphs/cpus/src/graphql/args/CpuArgs.ts
  backend/subgraphs/cpus/src/graphql/args/CpusArgs.ts
  backend/subgraphs/cpus/src/graphql/entities/Node.ts
  backend/subgraphs/cpus/src/graphql/inputs/CreateCpuInput.ts
  backend/subgraphs/cpus/src/graphql/inputs/OrderByCpuInput.ts
  backend/subgraphs/cpus/src/graphql/inputs/WhereCpuInput.ts
  backend/subgraphs/cpus/src/graphql/inputs/index.ts
  backend/subgraphs/nodes/src/graphql/args/CreateNodeArgs.ts
  backend/subgraphs/nodes/src/graphql/args/NodeArgs.ts
  backend/subgraphs/nodes/src/graphql/args/NodesArgs.ts
  backend/subgraphs/nodes/src/graphql/entities/Cpu.ts
  backend/subgraphs/nodes/src/graphql/inputs/CreateCpuInput.ts
  backend/subgraphs/nodes/src/graphql/inputs/CreateNodeInput.ts
  backend/subgraphs/nodes/src/graphql/inputs/OrderByNodeInput.ts
  backend/subgraphs/nodes/src/graphql/inputs/WhereNodeInput.ts
Due: eslint --fix, prettier --write

chore(router): updated router in script
  backend/scripts/router.sh
Due: none

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

feat: added codeql and general fix
  .github/workflows/codeql-analysis.yml
  .github/workflows/codeql.yml
  README.md
  backend/router/supergraph.graphql
  backend/subgraphs/nodes/src/graphql/context.ts
  cspell.json
Due: eslint --fix, prettier --write, markdownlint

fix: readme badges
  README.md
Due: prettier --write, markdownlint

fix: linux install.sh now match backand format for cpu
  linux/install.sh
Due: none

chore: added safe interface
  backend/subgraphs/cpus/src/graphql/resolvers/CpuCacheResolver.ts
Due: eslint --fix

fix: fielresolver moved to entity
  backend/subgraphs/cpus/src/graphql/entities/Node.ts
  backend/subgraphs/cpus/src/graphql/resolvers/NodeCpuResolver.ts
  backend/subgraphs/nodes/src/graphql/entities/Cpu.ts
  backend/subgraphs/nodes/src/graphql/resolvers/CpuNodeResolver.ts
Due: eslint --fix

chore(deps): added install script submodules for k3s and node_exporter
  .gitmodules
  linux/install.k3s.sh
  linux/install.node_exporter.sh
Due: none

fix: added ignore all to git submodules
  .gitmodules
Due: none

fix: license
  license.json
Due: prettier --write

fix: removed submodules
  .gitmodules
Due: none

fix: removed symlinks
  linux/install.k3s.sh
  linux/install.node_exporter.sh
Due: none

feat: added submodules
  .gitmodules
Due: none

fix: removed submodules file
  .gitmodules
Due: none

Squashed 'dependencies/node_exporter_installer/' content from commit 6de660c
  .commitlintrc
  .editorconfig
  .gitattributes
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/stale.yml
  .github/workflows/ci.yml
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
  .markdownlint.json
  .markdownlintignore
  .npmrc
  .nvmrc
  .vscode/extensions.json
  .vscode/settings.json
  LICENSE
  README.md
  install.sh
  package-lock.json
  package.json
Due: prettier --write, markdownlint

Squashed 'dependencies/node_exporter_installer/' changes from 6de660c64..6a2c48603
  install.sh
Due: none

feat: script to update dependencies
  scripts/update_dependencies.sh
Due: none

fix: git dir for script
  scripts/update_dependencies.sh
Due: none
