Repository carlocorradini/reCluster: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint

.lintstagedrc:

{
  "*.{json,md,sh}": "prettier --write",
  "*.md": "markdownlint"
}

chore(scripts): shellcheck source
  linux/configs/configs.sh
  linux/dependencies/dependencies.sh
  linux/distributions/alpine/build.sh
  linux/distributions/arch/build.sh
  linux/install.sh
  scripts/__commons.sh
  scripts/bundle.sh
  scripts/certificates.sh
  server/scripts/dev.sh
  server/scripts/dockerize.sh
Due: prettier --write

chore(ci): sarif
  .github/workflows/ci.yml
Due: none

feat: skip run in bundle
  scripts/README.md
  scripts/bundle.sh
Due: prettier --write, markdownlint

chore(ci): concurrency
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Due: none

fix: bundle shifts
  scripts/bundle.sh
Due: prettier --write

docs: better long diff
  linux/distributions/alpine/README.md
Due: prettier --write, markdownlint

refactor: termination
  server/src/main.ts
Due: none

refactor: moved
  README.md
  linux/configs/controller.config.yml
  linux/install.sh
  scripts/__commons.sh
  server/.env.example
  server/package-lock.json
  server/package.json
  server/src/k8s/NodeInformer.ts
  server/src/main.ts
  server/src/services/K8sService.ts
  server/src/services/NodeService.ts
  server/src/types/k8s.ts
Due: prettier --write, markdownlint

refactor: removed node hostname
  server/prisma/data/nodes.ts
  server/prisma/migrations/20221112170944_recluster/migration.sql
  server/prisma/migrations/migration_lock.toml
  server/prisma/schema.prisma
  server/src/graphql/args/find/unique/FindUniqueNodeArgs.ts
  server/src/graphql/entities/Node.ts
  server/src/graphql/enums/index.ts
  server/src/graphql/inputs/create/CreateInterfaceInput.ts
  server/src/graphql/inputs/orderby/OrderByNodeInput.ts
  server/src/graphql/inputs/where/WhereNodeInput.ts
  server/src/graphql/resolvers/node/NodeResolver.ts
  server/src/helpers/context.ts
  server/src/services/NodeService.ts
  server/src/services/StatusService.ts
  server/src/types/Context.ts
Due: none

feat: prisma ondelete and onupdate
  server/prisma/schema.prisma
Due: none

feat: initialization script
  .github/workflows/ci.yml
  README.md
  linux/README.md
  linux/configs/README.md
  linux/dependencies/README.md
  linux/distributions/alpine/README.md
  linux/distributions/arch/README.md
  scripts/.gitignore
  scripts/README.md
  scripts/init.sh
  server/scripts/README.md
Due: prettier --write, markdownlint

fix: style
  .github/workflows/ci.yml
Due: none

feat: bundle inline and configs overwrite
  linux/configs/README.md
  linux/configs/configs.sh
  linux/install.sh
  scripts/bundle.config.yml
  scripts/bundle.sh
  scripts/init.sh
Due: prettier --write, markdownlint

refactor: better graphql schema generation
  server/package.json
  server/scripts/schema.ts
  server/src/config/env.ts
  server/src/main.ts
Due: prettier --write

refactor: added file in ssh authorized keys option
  linux/README.md
  linux/install.sh
Due: prettier --write, markdownlint

refactor: use ed25519 instead of rsa for ssh
  linux/configs/common.config.yml
  scripts/README.md
  scripts/certificates.sh
Due: prettier --write, markdownlint

feat: cluster autoscaler dependency
  linux/dependencies/dependencies.config.yml
Due: none

chore(ci): release
  .github/workflows/ci.yml
Due: none

fix: cspell
  cspell.json
Due: prettier --write

chore(deps): update dependencies
  package-lock.json
  package.json
  server/package-lock.json
  server/package.json
Due: prettier --write

fix: prisma migrations
  server/prisma/migrations/20221122175614_recluster/migration.sql
  server/prisma/migrations/migration_lock.toml
Due: none

feat: ssh and sshd configuration files
  .vscode/settings.json
  license.json
  linux/README.md
  linux/configs/.gitignore
  linux/configs/README.md
  linux/configs/ssh_config
  linux/configs/sshd_config
  linux/install.sh
Due: prettier --write, markdownlint

refactor: use printf instead of echo
  Vagrantfile
  linux/README.md
  linux/configs/configs.sh
  linux/dependencies/dependencies.sh
  linux/distributions/alpine/Dockerfile
  linux/distributions/alpine/build.sh
  linux/distributions/alpine/genapkovl-recluster.sh
  linux/distributions/arch/build.sh
  linux/install.sh
  scripts/__commons.sh
  scripts/bundle.sh
Due: prettier --write, markdownlint

refactor: default config
  cspell.json
  linux/README.md
  linux/install.sh
Due: prettier --write, markdownlint

fix: ssh in bundle
  scripts/bundle.config.yml
Due: none

feat: better ssh configuration
  linux/README.md
  linux/install.sh
Due: prettier --write, markdownlint

chore(deps): license
  linux/dependencies/dependencies.config.yml
Due: none

feat: autoscaler in bundle config
  scripts/bundle.config.yml
Due: none

feat: init copy and set server environment
  scripts/init.sh
Due: prettier --write

fix: bug in cleanup dir
  scripts/__commons.sh
Due: prettier --write

fix: cleanup dir
  scripts/__commons.sh
Due: prettier --write

fix: package json start
  server/package.json
Due: prettier --write

fix: bug
  linux/README.md
  linux/install.sh
Due: prettier --write, markdownlint

fix: bugs in install procedure
  linux/install.sh
Due: prettier --write

fix: kubeconfig owner
  linux/install.sh
Due: prettier --write

fix: better owner for scripts
  linux/install.sh
Due: prettier --write

feat: update status accepts status
  linux/install.sh
  server/src/graphql/args/update/UpdateStatusArgs.ts
  server/src/graphql/inputs/update/UpdateStatusInput.ts
  server/src/graphql/inputs/update/index.ts
  server/src/graphql/resolvers/status/StatusResolver.ts
Due: prettier --write

feat: shutdown script
  linux/install.sh
Due: prettier --write

refactor: renamed certificates to certs
  scripts/README.md
  scripts/bundle.config.yml
  scripts/certs.sh
  server/scripts/dev.sh
Due: prettier --write, markdownlint
