Repository carlocorradini/reCluster: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint

.lintstagedrc:

{
  "*.{json,md,sh}": "prettier --write",
  "*.md": "markdownlint"
}

feat: new alpine installation
  linux/distributions/alpine/Dockerfile
  linux/distributions/alpine/README.md
  linux/distributions/alpine/build.sh
  linux/distributions/alpine/mkimg.recluster.sh
  linux/distributions/arch/build.sh
Due: prettier --write, markdownlint

fix: alpine distribution
  cspell.json
  linux/distributions/alpine/Dockerfile
  linux/distributions/alpine/build.sh
Due: prettier --write

chore(deps): update dependencies
  package-lock.json
  package.json
  server/package-lock.json
  server/package.json
Due: prettier --write

fix: format
  server/.lintstagedrc
Due: none

fix: script variables
  linux/install.sh
Due: prettier --write

feat: splitted configuration files
  cspell.json
  linux/README.md
  linux/configs/.gitignore
  linux/configs/README.md
  linux/configs/config.yml
  linux/configs/configs.sh
  linux/configs/k3s.controller.yml
  linux/configs/k3s.worker.yml
  linux/configs/node_exporter.yml
  linux/configs/server.env
  linux/distributions/alpine/genapkovl-recluster.sh
  linux/distributions/arch/packages.x86_64
  linux/install.sh
  scripts/bundle.config.yml
  server/Dockerfile
  server/README.md
  server/package-lock.json
  server/package.json
Due: prettier --write, markdownlint

chore(deps): update dependencies
  server/package-lock.json
  server/package.json
  server/prisma/schema.prisma
Due: prettier --write

refactor: removed vagrant
  .gitignore
  .prettierignore
  .vscode/extensions.json
  README.md
  Vagrantfile
  cspell.json
  license.json
Due: prettier --write, markdownlint

feat: server certificates directory
  linux/README.md
  linux/configs/.gitignore
  linux/configs/README.md
  linux/configs/server.env
  linux/install.sh
Due: prettier --write, markdownlint

chore(dependabot): ignore patch update
  .github/dependabot.yml
Due: none

refactor: moved all linux relatex resources
  README.md
  configs/README.md
  configs/config.yml
  configs/k3s.controller.yml
  configs/k3s.worker.yml
  configs/node_exporter.yml
  configs/server.env
  configs/ssh_config
  configs/sshd_config
  cspell.json
  dependencies/.gitignore
  dependencies/README.md
  dependencies/dependencies.config.yml
  dependencies/dependencies.sh
  distributions/README.md
  distributions/alpine/.gitignore
  distributions/alpine/Dockerfile
  distributions/alpine/README.md
  distributions/alpine/build.sh
  distributions/alpine/genapkovl-recluster.sh
  distributions/alpine/logo.png
  distributions/alpine/mkimg.recluster.sh
  distributions/arch/.gitignore
  distributions/arch/Dockerfile
  distributions/arch/README.md
  distributions/arch/build.sh
  distributions/arch/logo.png
  distributions/arch/packages.x86_64
  distributions/arch/profiledef.sh
  docs/README.md
  docs/installation.md
  docs/installation_requirements.md
  docs/installation_script.md
  install.sh
  linux/distributions/arch/packages.x86_64
  scripts/__commons.sh
  scripts/bundle.config.yml
  server/README.md
Due: prettier --write, markdownlint

fix: bootstrap script
  install.sh
Due: prettier --write

fix: indentation
  install.sh
Due: prettier --write

fix: missing install script
  scripts/bundle.config.yml
Due: none

docs: fix
  docs/installation.md
  docs/installation_script.md
Due: prettier --write, markdownlint

fix: install script bug
  install.sh
  scripts/bundle.config.yml
Due: prettier --write

fix: license
  configs/ssh_config
  configs/sshd_config
  distributions/arch/packages.x86_64
  license.json
Due: prettier --write

fix: server location
  install.sh
Due: prettier --write

fix: openssl
  distributions/alpine/genapkovl-recluster.sh
  distributions/alpine/mkimg.recluster.sh
Due: prettier --write

fix: installation bug
  configs/config.yml
  configs/k3s.worker.yml
  configs/server.env
  install.sh
  server/README.md
  server/package-lock.json
  server/package.json
  server/prisma/data/users.ts
  server/src/services/CryptoService.ts
Due: prettier --write, markdownlint

docs: place ssh pub copy before
  docs/installation.md
Due: prettier --write, markdownlint

feat: wait server reachability
  install.sh
Due: prettier --write

fix: json must be as yaml
  install.sh
Due: prettier --write

fix: bug
  configs/README.md
  configs/config.controller.yml
  configs/config.worker.yml
Due: prettier --write, markdownlint

fix: removed dangerous rmdir
  install.sh
Due: prettier --write

feat: metallb
  configs/k8s/metallb/config.yaml
Due: none

refactor: better sed
  install.sh
Due: prettier --write

refactor: all yml renamed to yaml
  .github/workflows/ci.yml
  configs/README.md
  configs/config.controller.yaml
  configs/config.worker.yaml
  configs/k3s.controller.yaml
  configs/k3s.worker.yaml
  configs/node_exporter.yaml
  dependencies/.gitignore
  dependencies/README.md
  dependencies/dependencies.config.yaml
  dependencies/dependencies.sh
  docs/installation.md
  docs/installation_script.md
  install.sh
  scripts/README.md
  scripts/bundle.config.yaml
  scripts/bundle.sh
  server/k3d.config.yaml
  server/package.json
  server/scripts/README.md
  server/scripts/dev.sh
Due: prettier --write, markdownlint

fix: cspell
  cspell.json
Due: prettier --write

feat: docker registry k8s
  configs/k8s/registry/deployment.yaml
  configs/registries.yaml
Due: none

refactor: some refactors
  .gitignore
  configs/README.md
  configs/k8s/registry/deployment.yaml
  configs/registries.yaml
  configs/server.env
  configs/ssh_config
  docs/installation.md
  docs/installation_script.md
  install.sh
  package-lock.json
  package.json
  scripts/README.md
  scripts/certs.sh
  server/.env.example
  server/package-lock.json
  server/package.json
  server/scripts/dev.sh
  server/src/config/env.ts
Due: prettier --write, markdownlint

fix: initial
  cspell.json
  install.sh
Due: prettier --write

feat: database
  cspell.json
  distributions/alpine/genapkovl-recluster.sh
  distributions/alpine/mkimg.recluster.sh
  distributions/arch/packages.x86_64
  install.sh
Due: prettier --write

feat: better db
  install.sh
Due: prettier --write

feat: configs script
  configs/config.worker.yaml
  configs/k3s.worker.yaml
  configs/k8s/metallb/config.yaml
  configs/k8s/registry/deployment.yaml
  configs/registries.yaml
  configs/server.env
  cspell.json
  docs/installation.md
  scripts/README.md
  scripts/bundle.config.yaml
  scripts/bundle.sh
  scripts/certs.sh
  scripts/configs.config.yaml
  scripts/configs.sh
  server/.env.example
Due: prettier --write, markdownlint

fix: if not exists
  install.sh
Due: prettier --write

feat: k8s configuration during cluster initialization
  configs/k8s/autoscaler/ca/deployment.yaml
  configs/k8s/registry/deployment.yaml
  cspell.json
  distributions/alpine/genapkovl-recluster.sh
  distributions/alpine/mkimg.recluster.sh
  docs/installation_script.md
  install.sh
  package-lock.json
  package.json
  scripts/configs.config.yaml
Due: prettier --write, markdownlint

fix: typo
  scripts/bundle.config.yaml
Due: none

docs: better
  docs/installation.md
  scripts/configs.config.yaml
Due: prettier --write, markdownlint

refactor: server certs dir now is certs dir
  docs/installation_script.md
  install.sh
Due: prettier --write, markdownlint
