Repository carlocorradini/reCluster: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint

.lintstagedrc:

{
    "*.ts": "eslint --fix",
    "*.{json,md}": "prettier --write",
    "*.md": "markdownlint"
}

feat: field resolvers now support pagination
  server/src/graphql/args/find/many/index.ts
  server/src/graphql/resolvers/cpu/CpuNodeResolver.ts
  server/src/graphql/resolvers/disk/DiskNodeResolver.ts
  server/src/graphql/resolvers/interface/InterfaceNodeResolver.ts
  server/src/graphql/resolvers/node/NodeDiskResolver.ts
  server/src/graphql/resolvers/node/NodeInterfaceResolver.ts
Due: eslint --fix

feat: field resolver for conversion unit
  server/src/graphql/resolvers/disk/DiskResolver.ts
  server/src/graphql/resolvers/interface/InterfaceResolver.ts
Due: eslint --fix

fix: dockerfile
  server/Dockerfile
Due: none

fix: removed foreign key id from entities
  server/src/graphql/entities/Disk.ts
  server/src/graphql/entities/Interface.ts
  server/src/graphql/entities/Node.ts
Due: eslint --fix

fix: install.sh wol array
  linux/install.sh
Due: none

feat: k3s and recluster config file path
  dependencies/dependencies.sh
  linux/config.k3s.agent.yml
  linux/config.k3s.server.yml
  linux/config.recluster.yml
  linux/install.sh
Due: none

chore: basic configuration test
  linux/config.k3s.agent.yml
  linux/config.k3s.server.yml
  linux/config.recluster.yml
Due: none

fix: better configuration logic for k3s and recluster
  linux/install.sh
  registry/config.yml
  registry/registry.sh
Due: none

refactor: single configuration file
  linux/config.k3s.server.yml
  linux/config.recluster.yml
  linux/config.yml
  linux/install.sh
Due: none

refactor: moved dependencies into linux directory
  linux/dependencies/.gitignore
  linux/dependencies/README.md
  linux/dependencies/dependencies.json
  linux/dependencies/dependencies.sh
  linux/install.sh
Due: prettier --write, markdownlint

fix: espint working directories
  .vscode/settings.json
Due: prettier --write

feat: services
  server/package-lock.json
  server/package.json
  server/src/graphql/args/find/many/FindManyCpuArgs.ts
  server/src/graphql/args/find/many/FindManyDiskArgs.ts
  server/src/graphql/args/find/many/FindManyInterfaceArgs.ts
  server/src/graphql/args/find/many/FindManyNodeArgs.ts
  server/src/graphql/args/find/many/PaginationArgs.ts
  server/src/graphql/args/find/many/index.ts
  server/src/graphql/context.ts
  server/src/graphql/index.ts
  server/src/graphql/middlewares/RemoveNullArgs.ts
  server/src/graphql/resolvers/cpu/CpuNodeResolver.ts
  server/src/graphql/resolvers/cpu/CpuResolver.ts
  server/src/graphql/resolvers/disk/DiskNodeResolver.ts
  server/src/graphql/resolvers/disk/DiskResolver.ts
  server/src/graphql/resolvers/interface/InterfaceNodeResolver.ts
  server/src/graphql/resolvers/interface/InterfaceResolver.ts
  server/src/graphql/resolvers/node/NodeCpuResolver.ts
  server/src/graphql/resolvers/node/NodeInterfaceResolver.ts
  server/src/graphql/resolvers/node/NodeResolver.ts
  server/src/graphql/schema.ts
  server/src/services/CpuService.ts
  server/src/services/DiskService.ts
  server/src/services/InterfaceService.ts
  server/src/services/NodeService.ts
  server/src/services/index.ts
Due: eslint --fix, prettier --write

chore: added error on node registration
  linux/install.sh
Due: none

fix: big integer
  linux/install.sh
  server/src/main.ts
Due: eslint --fix

feat: init system status
  linux/install.sh
Due: none

fix: readme
  README.md
Due: prettier --write, markdownlint

fix: ram log
  linux/install.sh
Due: none

fix: bigint and conversion
  server/src/graphql/resolvers/cpu/CpuResolver.ts
  server/src/graphql/resolvers/disk/DiskResolver.ts
  server/src/graphql/resolvers/interface/InterfaceResolver.ts
  server/src/graphql/resolvers/node/NodeResolver.ts
  server/src/utils/converter.ts
  server/src/utils/index.ts
Due: eslint --fix

refactor: dependencies now is in yaml format
  linux/dependencies/.gitignore
  linux/dependencies/dependencies.json
  linux/dependencies/dependencies.sh
  linux/dependencies/dependencies.yml
Due: prettier --write

fix: readme deps
  linux/dependencies/README.md
Due: prettier --write, markdownlint

feat: deps files
  linux/dependencies/dependencies.sh
  linux/dependencies/dependencies.yml
Due: none

refactor: better clean algorithm
  linux/dependencies/dependencies.sh
Due: none

fix: kepp deps rather than ignoring
  linux/dependencies/dependencies.sh
  linux/dependencies/dependencies.yml
Due: none

fix: match new dependencies configuration
  linux/install.k3s.sh
  linux/install.node_exporter.sh
  linux/install.sh
Due: none

refactor: better alpine linux recluster iso scripts
  .dockerignore
  cspell.json
  license.json
  linux/alpine/.gitignore
  linux/alpine/Dockerfile
  linux/alpine/build.sh
  linux/alpine/genapkovl-recluster.sh
  linux/alpine/mkimg.recluster.sh
  linux/config.yml
  server/scripts/database.sh
Due: prettier --write

feat: added node status
  cspell.json
  linux/install.sh
  server/.eslintrc
  server/.gitignore
  server/package-lock.json
  server/package.json
  server/prisma/migrations/20220528174621_recluster/migration.sql
  server/prisma/migrations/migration_lock.toml
  server/prisma/schema.prisma
  server/prisma/seed.ts
  server/prisma/tsconfig.json
  server/src/graphql/entities/Cpu.ts
  server/src/graphql/entities/Node.ts
  server/src/graphql/inputs/create/CreateNodeInput.ts
  server/src/graphql/inputs/filters/NodeStatusFilter.ts
  server/src/graphql/inputs/filters/index.ts
  server/src/graphql/inputs/orderby/OrderByNodeInput.ts
  server/src/graphql/inputs/where/WhereNodeInput.ts
  server/src/services/CpuService.ts
  server/src/services/DiskService.ts
  server/src/services/InterfaceService.ts
  server/src/services/NodeService.ts
  server/src/utils/types.ts
Due: eslint --fix, prettier --write

fix: format
  server/.eslintrc
Due: none

chore(feat): first try of k8s
  license.json
  scripts/__commons.sh
  server/package-lock.json
  server/package.json
  server/scripts/dockerize.sh
  server/src/k8s/NodeInformer.ts
  server/src/k8s/index.ts
  server/src/main.ts
Due: eslint --fix, prettier --write

feat: trying initializing cluster
  .gitignore
  .vscode/extensions.json
  Vagrantfile
  linux/config.agent.yml
  linux/config.server.yml
  linux/install.sh
  server/prisma/migrations/20220531105510_recluster/migration.sql
  server/prisma/schema.prisma
  server/src/graphql/args/create/CreateNodeArgs.ts
  server/src/graphql/args/index.ts
  server/src/graphql/args/update/UpdateNodeArgs.ts
  server/src/graphql/args/update/index.ts
  server/src/graphql/inputs/update/UpdateNodeInput.ts
  server/src/graphql/inputs/update/index.ts
  server/src/graphql/resolvers/node/NodeResolver.ts
  server/src/services/NodeService.ts
Due: eslint --fix, prettier --write

fix: jq delete error
  a.json
  linux/install.sh
  server/src/k8s/NodeInformer.ts
  server/src/main.ts
Due: eslint --fix, prettier --write

fix: general
  a.json
  server/src/main.ts
Due: eslint --fix, prettier --write

fix: bootstrap script
  linux/install.sh
Due: none

refactor: cuid to uuid
  server/prisma/migrations/20220531105510_recluster/migration.sql
  server/prisma/migrations/20220531155910_recluster/migration.sql
  server/prisma/schema.prisma
Due: none

fix: trying cluster init
  Vagrantfile
  linux/config.agent.yml
  linux/config.server.yml
  linux/install.sh
  server/src/k8s/NodeInformer.ts
  server/src/k8s/kubeconfig.ts
  server/src/main.ts
Due: eslint --fix

fix: minifix
  linux/install.sh
  server/package-lock.json
  server/src/k8s/NodeInformer.ts
Due: eslint --fix, prettier --write

fix: permissions
  linux/install.sh
Due: none

fix: sudo in tee
  linux/install.sh
Due: none

fix: yaml fix
  linux/config.agent.yaml
  linux/config.server.yaml
  linux/install.sh
Due: none

feat: node status state machine
  server/package-lock.json
  server/package.json
  server/prisma/schema.prisma
  server/src/graphql/entities/Node.ts
  server/src/k8s/NodeInformer.ts
  server/src/services/NodeService.ts
  server/src/services/nodeStatusMachine.ts
Due: eslint --fix, prettier --write

fix: checks
  .prettierignore
  Vagrantfile
  cspell.json
  license.json
  linux/config.agent.yaml
  linux/config.server.yaml
Due: prettier --write
